  <h4>Wake County EMS System - Patient Care Record</h4>
  <font size="2">
    <b>Date:</b> 9/25/2011<br>
    <b>Incident #:</b>123456<br>
    <br>
  </font>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="14"><font color="blue" size="3">Patient Information</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Last</b></font></td>
        <td><font size="2"><%= @parser.E06_01 %></font></td>
        <td><font size="2"><b>First</b></font></td>
        <td><font size="2"><%= @parser.E06_02 %></font></td>
        <td><font size="2"><b>Middle</b></font></td>
        <td><font size="2"><%= @parser.E06_03 %></font></td>
        <td><font size="2"><b>DOB</b></font></td>
        <td><font size="2"><%= @parser.E06_16 %></font></td>
        <td><font size="2"><b>Gender</b></font></td>
        <td><font size="2"><%= @parser.E06_11 %></font></td>
        <td><font size="2"><b>Weight</b></font></td>
        <td><font size="2"><%= @parser.E16_01 %> kg</font></td>
        <td><font size="2"><b>SSN</b></font></td>
        <td><font size="2"><%= @parser.E06_10 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Address</b></font></td>
        <td><font size="2"><%= @parser.E06_04 %></font></td>
        <td><font size="2"><b>Address 2</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>City</b></font></td>
        <td><font size="2"><%= @parser.E06_05 %></font></td>
        <td><font size="2"><b>State</b></font></td>
        <td><font size="2"><%= @parser.E06_07 %></font></td>
        <td><font size="2"><b>Zip</b></font></td>
        <td><font size="2"><%= @parser.E06_08 %></font></td>
        <td><font size="2"><b>Country</b></font></td>
        <td><font size="2"><%= @parser.E06_09 %></font></td>
        <td><font size="2"><b>Tel</b></font></td>
        <td><font size="2"><%= @parser.E06_04 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Advanced Directive</b></font></td>
        <td colspan="13"><font size="2"><%= @parser.E12_07 %></font></td>
      </tr>
    </tbody>
  </table><br>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="8"><font color="blue" size="3">Clinical Impression</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Primary Impression</b></font></td>
        <td><font size="2"><%= @parser.E09_15 %></font></td>
        <td><font size="2"><b>Chief Complaint</b></font></td>
        <td><font size="2"><%= @parser.E09_05 %></font></td>
        <td><font size="2"><b>Injury</b></font></td>
        <td><font size="2"><%= @parser.concat 'E10_01', 'E10_02', 'E10_03' %></font></td>
        <td><font size="2"><b>Barriers of Care</b></font></td>
        <td><font size="2"><%= @parser.E12_01 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Secondary Impression</b></font></td>
        <td><font size="2"><%= @parser.E09_16 %></font></td>
        <td><font size="2"><b>Duration</b></font></td>
        <td><font size="2"><%= @parser.concat 'E09_06', 'E09_07' %></font></td>
        <td><font size="2"><b>Medical/trauma</b></font></td>
        <td><font size="2"></font></td>
        <td><font size="2"><b>Alcohol/Drugs</b></font></td>
        <td><font size="2"><%= @parser.E12_19 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Signs &amp; Symptoms</b></font></td>
        <td colspan="7"><font size="2"><%= @parser.concat 'E09_13', 'E09_14' %></font></td>
      </tr>
    </tbody>
  </table><br>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="16"><font color="blue" size=
        "3">Medication/Allergies/History</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Medications</b></font></td>
        <td colspan="15"><font size="2"><%= @parser.concat 'E12_14', 'E12_15', 'E12_16' %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Allergies</b></font></td>
        <td colspan="15"><font size="2"><%= @parser.concat 'E12_08', 'E12_09' %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>History</b></font></td>
        <td colspan="15"><font size="2"><%= @parser.E12_10 %></font></td>
      </tr>

      <tr>
        <td colspan="16"><font color="blue" size="3">Vital Signs</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Time</b></font></td>
        <td><font size="2"><b>AVPU</b></font></td>
        <td><font size="2"><b>Side</b></font></td>
        <td><font size="2"><b>POS</b></font></td>
        <td><font size="2"><b>BP</b></font></td>

        <td><font size="2"><b>Pulse</b></font></td>
        <td><font size="2"><b>RR</b></font></td>
        <td><font size="2"><b>SPO2</b></font></td>
        <td><font size="2"><b>ETCO2</b></font></td>
        <td><font size="2"><b>CO</b></font></td>

        <td><font size="2"><b>BG</b></font></td>
        <td><font size="2"><b>Temp</b></font></td>
        <td><font size="2"><b>Pain</b></font></td>
        <td><font size="2"><b>GCS</b></font></td>
        <td><font size="2"><b>RTS</b></font></td>

        <td><font size="2"><b>PTS</b></font></td>
      </tr>

      <% @parser.parse_cluster('E14').sort_by{|e14| Time.parse(e14.E14_01) rescue Time.now}.each do |e14| %>
        <tr>
          <td><font size="2"><%= e14.E14_01 %></font></td>
          <td><font size="2"><%= e14.E14_22 %></font></td>
          <td><font size="2">&nbsp;</font></td>
          <td><font size="2">&nbsp;</font></td>
          <td><font size="2"><%= e14.concat 'E14_04', 'E14_05', 'E14_06' %></font></td>

          <td><font size="2"><%= [(e14.E14_07 || e14.E14_08), e14.E14_10].compact.join(' ') %></font></td>
          <td><font size="2"><%= e14.concat 'E14_11', 'E14_12' %></font></td>
          <td><font size="2"><%= e14.E14_09 %></font></td>
          <td><font size="2">&nbsp;</font></td>
          <td><font size="2">&nbsp;</font></td>

          <td><font size="2"><%= e14.E14_14 %></font></td>
          <td><font size="2"><%= e14.concat 'E14_20', 'E14_21' %></font></td>
          <td><font size="2"><%= e14.E14_23 %></font></td>
          <td><font size="2"><%= e14.E14_19 %></font></td>
          <td><font size="2"><%= e14.E14_27 %></font></td>

          <td><font size="2"><%= e14.E14_28 %></font></td>

        </tr>
      <% end %>

      <tr>
        <td colspan="16"><font color="blue" size="3">ECG</font></td>
      </tr>
      <tr>
        <td colspan="1"><font size="2"><b>Time</b></font></td>
        <td colspan="7"><font size="2"><b>3-Lead ECG</b></font></td>
        <td colspan="8"><font size="2"><b>12-Lead ECG</b></font></td>
      </tr>

      <% @parser.parse_cluster('E14').sort_by{|e14| Time.parse(e14.E14_01) rescue Time.now}.each do |e14| %>
        <tr>
          <td colspan="1"><font size="2"><%= e14.E14_01 %></font></td>
          <td colspan="7"><font size="2"><%= e14.E14_03 %></font></td>
          <td colspan="8"><font size="2">&nbsp;</font></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="16"><font color="blue" size="3">Flow Chart</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Time</b></font></td>
        <td colspan="2"><font size="2"><b>Treatment</b></font></td>
        <td colspan="11"><font size="2"><b>Description</b></font></td>
        <td colspan="2"><font size="2"><b>Provider</b></font></td>
      </tr>

      <% @parser.parse_clusters('E18', 'E19').sort_by{|c| Time.parse(c.sub_element('01')) rescue Time.now}.each do |cluster| %>
        <tr>
          <td><font size="2"><%= cluster.sub_element('01') %></font></td>
          <td colspan="2"><font size="2"><%= cluster.sub_element('03') %></font></td>
          <td colspan="11">
            <font size="2">
              <% if cluster.root_element_name == 'E18'  %>
                <%= cluster.concat 'E18_05', 'E18_06' %>;
                <%= cluster.E18_07 %>; 
                <%= cluster.E18_08 %>; 
              <% elsif cluster.root_element_name == 'E19'  %>
              <% end %>
            </font>
          </td>
          <td colspan="2"><font size="2"></font></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="16"><font color="blue" size="3">Initial Assessment</font></td>
      </tr>
      <% @parser.parse_cluster('E16').each do |e16| %>
        <tr>
          <td colspan="2"><font size="2"><b>Category</b></font></td>
          <td colspan="6"><font size="2"><b>Comments</b></font></td>
          <td colspan="2"><font size="2"><b>Abnormalities</b></font></td>
          <td colspan="6"><font size="2">&nbsp;</font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2"><b>Mental Status</b></font></td>
          <td colspan="6"><font size="2"></font></td>
          <td colspan="2"><font size="2">Mental Status</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_23 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2"><b>Skin</b></font></td>
          <td colspan="6"><font size="2">&nbsp;</font></td>
          <td colspan="2"><font size="2">Skin</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_04 %></font></td>
        </tr>
        <tr>
          <td colspan="2" rowspan="3"><font size="2"><b>HEENT</b></font></td>
          <td colspan="6" rowspan="3"><font size="2"><b>&nbsp;</b></font></td>
          <td colspan="2"><font size="2">Head/Face</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_05 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Eyes</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_05 || e16.E16_22 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Neck</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_06 %></font></td>
        </tr>
        <tr>
          <td colspan="2" rowspan="3"><font size="2"><b>Chest</b></font></td>
          <td colspan="6" rowspan="3"><font size="2"><b>&nbsp;</b></font></td>
          <td colspan="2"><font size="2">Chest</font></td>
          <td colspan="6"><font size="2"></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Heart Sounds</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_08 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Lung Sounds</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_07 %></font></td>
        </tr>
        <tr>
          <td colspan="2" rowspan="5"><font size="2"><b>Abdomen</b></font></td>
          <td colspan="6" rowspan="5"><font size="2"><b>&nbsp;</b></font></td>
          <td colspan="2"><font size="2">General</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_13 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Left Upper</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_09 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Right Upper</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_11 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Left Lower</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_10 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Right Lower</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_12 %></font></td>
        </tr>
        <tr>
          <td colspan="2" rowspan="3"><font size="2"><b>Back</b></font></td>
          <td colspan="6" rowspan="3"><font size="2"><b>&nbsp;</b></font></td>
          <td colspan="2"><font size="2">Cervical</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_14 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Thoracic</font></td>
          <td colspan="6"><font size="2"></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Lumbar/Sacral</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_16 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2"><b>Pelvis/GU/GI</b></font></td>
          <td colspan="6"><font size="2">&nbsp;</font></td>
          <td colspan="2"><font size="2">Pelvis/GU/GI</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_13 %></font></td>
        </tr>
        <tr>
          <td colspan="2" rowspan="6"><font size="2"><b>Extremities</b></font></td>
          <td colspan="6" rowspan="6"><font size="2"><b>&nbsp;</b></font></td>
          <td colspan="2"><font size="2">Left Arm</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_19 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Right Arm</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_17 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Left Leg</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_20 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Right Leg</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_18 %></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Pulse</font></td>
          <td colspan="6"><font size="2"></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2">Capillary Refill</font></td>
          <td colspan="6"><font size="2"></font></td>
        </tr>
        <tr>
          <td colspan="2"><font size="2"><b>Neurological</b></font></td>
          <td colspan="6"><font size="2">&nbsp;</font></td>
          <td colspan="2"><font size="2">Neurological</font></td>
          <td colspan="6"><font size="2"><%= e16.E16_24 %></font></td>
        </tr>
      </tbody>
    </table><br>
    <font size="2"><b>Assessment Time:</b><%= e16.E16_03 %></font><br>
  <% end %>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td><font color="blue" size="3">Narrative</font></td>
      </tr>
      <tr>
        <td><font size="2"><%= @parser.E13_01 %></font></td>
      </tr>
    </tbody>
  </table><br>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="2"><font color="blue" size="3">Incident Details</font></td>
        <td colspan="2"><font color="blue" size="3">Destination Details</font></td>
        <td colspan="2"><font color="blue" size="3">Incident Times</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Location</b></font></td>
        <td><font size="2"><%= @parser.E08_07 %></font></td>
        <td><font size="2"><b>Disposition</b></font></td>
        <td><font size="2"><%= @parser.concat('E20_10', 'E20_14') %></font></td>
        <td><font size="2"><b>Call Received</b></font></td>
        <td><font size="2"><%= @parser.E05_01 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Adress</b></font></td>
        <td><font size="2"><%= @parser.E08_11 %></font></td>
        <td><font size="2"><b>Transport Due To</b></font></td>
        <td><font size="2"><%= @parser.E20_16 %></font></td>
        <td><font size="2"><b>Dispatched</b></font></td>
        <td><font size="2"><%= @parser.E05_04 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Address 2</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Transported To</b></font></td>
        <td><font size="2"><%= @parser.E20_01 %></font></td>
        <td><font size="2"><b>En Route</b></font></td>
        <td><font size="2"><%= @parser.E05_05 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>City</b></font></td>
        <td><font size="2"><%= @parser.E08_12 %></font></td>
        <td><font size="2"><b>Requested By</b></font></td>
        <td><font size="2"></font></td>
        <td><font size="2"><b>Resp on Scene</b></font></td>
        <td><font size="2"><%= @parser.E05_06 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>State</b></font></td>
        <td><font size="2"><%= @parser.E08_14 %></font></td>
        <td><font size="2"><b>Destination</b></font></td>
        <td><font size="2"><%= @parser.E20_17 %></font></td>
        <td><font size="2"><b>On Scene</b></font></td>
        <td><font size="2"></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Zip</b></font></td>
        <td><font size="2"><%= @parser.E08_15 %></font></td>
        <td><font size="2"><b>Address</b></font></td>
        <td><font size="2"><%= @parser.E20_03 %></font></td>
        <td><font size="2"><b>At Patient</b></font></td>
        <td><font size="2"><%= @parser.E05_07 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Medic Unit</b></font></td>
        <td><font size="2"><%= @parser.E02_03 %></font></td>
        <td><font size="2"><b>Address 2</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Depart Scene</b></font></td>
        <td><font size="2"><%= @parser.E05_09 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Run Type</b></font></td>
        <td><font size="2"><%= @parser.E02_04 %></font></td>
        <td><font size="2"><b>City</b></font></td>
        <td><font size="2"><%= @parser.E20_04 %></font></td>
        <td><font size="2"><b>At Destination</b></font></td>
        <td><font size="2"><%= @parser.E05_10 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Priority Scene</b></font></td>
        <td><font size="2"><%= @parser.E02_20 %></font></td>
        <td><font size="2"><b>State</b></font></td>
        <td><font size="2"><%= @parser.E20_05 %></font></td>
        <td><font size="2"><b>Pt. Transferred</b></font></td>
        <td><font size="2"><%= @parser.E05_08 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Shift</b></font></td>
        <td><font size="2"></font></td>
        <td><font size="2"><b>Zip</b></font></td>
        <td><font size="2"><%= @parser.E20_07 %></font></td>
        <td><font size="2"><b>Incident Close</b></font></td>
        <td><font size="2"><%= @parser.E05_11 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Zone</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Zone</b></font></td>
        <td><font size="2"><%= @parser.E20_09 %></font></td>
        <td><font size="2"><b>In District</b></font></td>
        <td><font size="2"><%= @parser.E05_13 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Level of Service</b></font></td>
        <td><font size="2"></font></td>
        <td><font size="2"><b>Condition at Destination</b></font></td>
        <td colspan="3"><font size="2"><%= @parser.E20_15 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Destination Record #</b></font></td>
        <td colspan="5"><font size="2"><%= @parser.E20_13 %></font></td>
      </tr>
    </tbody>
  </table><br>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="4"><font color="blue" size="3">Crew Members</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Personnel</b></font></td>
        <td><font size="2"><b>Certification Number</b></font></td>
        <td><font size="2"><b>Role</b></font></td>
        <td><font size="2"><b>Certification Level</b></font></td>
      </tr>
      <% @parser.parse_cluster('E04').each do |e04| %>
        <tr>
          <td><font size="2"></font></td>
          <td><font size="2"><%= e04.E04_01 %></font></td>
          <td><font size="2"><%= e04.E04_02 %></font></td>
          <td><font size="2"><%= e04.E04_03 %></font></td>
        </tr>
      <% end %>
    </tbody>
  </table><br>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="8"><font color="blue" size="3">Insurance Details</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Insured's Name</b></font></td>
        <td><font size="2"><%= @parser.concat 'E07_11', 'E07_12', 'E07_13' %></font></td>
        <td><font size="2"><b>State</b></font></td>
        <td><font size="2">NC</font></td>
        <td><font size="2"><b>Medicare</b></font></td>
        <td>&nbsp;</td>
        <td><font size="2"><b>Secondary Ins</b></font></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font size="2"><b>Relationship to Patient</b></font></td>
        <td><font size="2"><%= @parser.E07_14 %></font></td>
        <td><font size="2"><b>Zip</b></font></td>
        <td>&nbsp;</td>
        <td><font size="2"><b>Medicaid</b></font></td>
        <td>&nbsp;</td>
        <td><font size="2"><b>Policy #</b></font></td>
        <td><font size="2"></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Address 1</b></font></td>
        <td>&nbsp;</td>
        <td><font size="2"><b>Country</b></font></td>
        <td>&nbsp;</td>
        <td><font size="2"><b>Primary Insurance</b></font></td>
        <td><font size="2"><%= @parser.E07_03 %></font></td>
        <td><font size="2"><b>Group #</b></font></td>
        <td><font size="2"></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Address 2</b></font></td>
        <td>&nbsp;</td>
        <td><font size="2"><b>Phone</b></font></td>
        <td>&nbsp;</td>
        <td><font size="2"><b>Group #</b></font></td>
        <td><font size="2"><%= @parser.E07_09 %></font></td>
        <td><font size="2"><b>Contact</b></font></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font size="2"><b>Address 3</b></font></td>
        <td>&nbsp;</td>
        <td><font size="2"><b>Primary Payer</b></font></td>
        <td><font size="2"><%= @parser.E07_01 %></font></td>
        <td><font size="2"><b>Policy #</b></font></td>
        <td><font size="2"><%= @parser.E07_10 %></font></td>
        <td><font size="2"><b>Dispatch Nature</b></font></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font size="2"><b>City</b></font></td>
        <td><font size="2">Raleigh</font></td>
        <td><font size="2"><b>Employer</b></font></td>
        <td><font size="2"><%= @parser.E07_27 %></font></td>
        <td><font size="2"><b>Job Related Injury</b></font></td>
        <td><font size="2"><%= @parser.E07_15 %></font></td>
        <td><font size="2"><b>Response Urgency</b></font></td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table><br>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="4"><font color="blue" size="3">Mileage</font></td>
        <td colspan="2"><font color="blue" size="3">Delays</font></td>
        <td colspan="2"><font color="blue" size="3">Additional Agencies</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Scene</b></font></td>
        <td><font size="2"><%= @parser.E02_17 %></font></td>
        <td><font size="2"><b>Start</b></font></td>
        <td><font size="2"><%= @parser.E02_16 %></font></td>
        <td><font size="2"><b>Category</b></font></td>
        <td><font size="2"><b>Delays</b></font></td>
        <td colspan="2"><font size="2"><%= @parser.concat 'E08_01', 'E08_02' %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Destination</b></font></td>
        <td><font size="2"><%= @parser.E02_18 %></font></td>
        <td><font size="2"><b>End</b></font></td>
        <td><font size="2"><%= @parser.E02_19 %></font></td>
        <td><font size="2">Dispatch Delays</font></td>
        <td><font size="2"><%= @parser.E02_06 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Loaded Miles</b></font></td>
        <td><font size="2"><%= @parser.E02_18.to_i - @parser.E02_17.to_i %></font></td>
        <td><font size="2"><b>Total Miles</b></font></td>
        <td><font size="2"><%= @parser.E02_19.to_i - @parser.E02_16.to_i %></font></td>
      </tr>
    </tbody>
  </table><br>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="6"><font color="blue" size="3">Next of Kin</font></td>
        <td colspan="3"><font color="blue" size="3">Personal Items</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Next of Kin Name</b></font></td>
        <td><font size="2"><%= @parser.concat 'E07_18', 'E07_19', 'E07_20' %></font></td>
        <td><font size="2"><b>Address 1</b></font></td>
        <td><font size="2"><%= @parser.E07_21 %></font></td>
        <td><font size="2"><b>City</b></font></td>
        <td><font size="2"><%= @parser.E07_22 %></font></td>
        <td><font size="2"><b>Item</b></font></td>
        <td><font size="2"><b>Given To</b></font></td>
        <td><font size="2"><b>Comment</b></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Relationship to Patient</b></font></td>
        <td><font size="2"><%= @parser.E07_26 %></font></td>
        <td><font size="2"><b>Address 2</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>State</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2">Clothing</font></td>
        <td><font size="2">Spouse</font></td>
        <td><font size="2">&nbsp;</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Phone</b></font></td>
        <td><font size="2"><%= @parser.E07_25 %></font></td>
        <td><font size="2"><b>Address 3</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Zip</b></font></td>
        <td><font size="2">&nbsp;</font></td>
      </tr>
      <tr>
        <td colspan="4"><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Country</b></font></td>
        <td><font size="2">&nbsp;</font></td>
      </tr>
    </tbody>
  </table><br>
  <table border="1" cellspacing="0" width="700">
    <tbody>
      <tr>
        <td colspan="4"><font color="blue" size="3">Transfer Details</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>PAN</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Sending Physician</b></font></td>
        <td><font size="2">&nbsp;</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>PCS</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Sending Record #</b></font></td>
        <td><font size="2"><%= @parser.E12_02 %></font></td>
      </tr>
      <tr>
        <td><font size="2"><b>ABN</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Receiving Physician</b></font></td>
        <td><font size="2">&nbsp;</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>CMS Service Level</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Condition Code</b></font></td>
        <td><font size="2">&nbsp;</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>ICD-9 Code</b></font></td>
        <td><font size="2">&nbsp;</font></td>
        <td><font size="2"><b>Condition Modifier Code</b></font></td>
        <td><font size="2">&nbsp;</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Transfer Reason</b></font></td>
        <td colspan="3"><font size="2">&nbsp;</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Other/Services</b></font></td>
        <td colspan="3"><font size="2">&nbsp;</font></td>
      </tr>
      <tr>
        <td><font size="2"><b>Medical Necessity</b></font></td>
        <td colspan="3"><font size="2">&nbsp;</font></td>
      </tr>
    </tbody>
  </table>
