
<%
   NBSP ||= "&nbsp;"

%>

<% if @fancy_html %>
    <%= HTML_STYLE %>
<% end %>

<h4>Wake County EMS System - Patient Care Record</h4>
<%= borderless_table %>
    <%= start_row %>
      <%= borderless_cell "Name:", "#{@parser.E06_01}, #{@parser.E06_02}" %>
      <%= borderless_cell "Incident #:", @parser.E02_02 %>
      <%= borderless_cell "Date:", @parser.parse_time('E05_03', true) %>
    </tr>
  </table>

<%= title = "Patient Information"
    start_table title, 6 %>
  <tbody>
  <!--Last, address, dob-->
  <%= row 'E06_01', 'E06_04', 'E06_16' %>
  <!--First, city/st/zip, weight-->
  <%= row 'E06_02', {'City, St ZIP' => "concat('E06_05','E06_07','E06_08')"}, {'Weight' => 'weight_in_words'} %>
  <!--Middle, phone, SSN-->
  <%= row 'E06_03', 'E06_17', 'E06_10' %>
  <!--Gender, county, physician -->
  <%= row 'E06_11', 'E06_06', {'Physician' => "concat('E12_04', 'E12_06')"} %>
  <!--Age, country-->
  <%= row( {'Age' => 'age_in_words'}, 'E06_09', '') %>
  <%= start_row %>
    <%= labeled_cell "Advanced Directive", @parser.E12_07, 5 %>
  </tr>
  </tbody>
</table>
<br>
<%= title = "Clinical Impression"
    start_table title, 8 %>
  <tbody>
    <!-- Primary Impression, Chief Complaint, Injury, Barriers -->
    <%= row 'E09_15', 'E09_05', {'Injury' => "concat('E10_01', 'E10_02', 'E10_03')"}, 'E12_01' %>
    <!-- Secondary Impression, Duration, Medical/Trauma, Alcohol/Drugs -->
    <%= row 'E09_16', {'Duration' => "concat('E09_06', 'E09_07')"}, {'Medical/Trauma' => "parse_value_of('MedicalTrauma')"}, 'E12_19' %>
  <%= start_row %>
    <%= labeled_cell "Signs &amp; Symptoms", (@parser.concat 'E09_13', 'E09_14'), 7 %>
  </tr>
  </tbody>
</table>
<br>
<% if @parser.has_content('E12') %>
<%= title = "Medication/Allergies/History"
    start_table title %>
  <tbody>
    <%= row( {"Medications" => "concat('E12_14', 'E12_15', 'E12_16')"}) %>
    <%= row( {"Allergies" => "concat('E12_08', 'E12_09')"}) %>
    <%= row( 'E12_10') %>
  </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E14') %>
    <%= title = "Vital Signs"
    start_table title, 16 %>

    <%= start_row %>
      <%= label_top "Time" %>
      <%= label_top "AVPU" %>
      <%= label_top "Side" %>
      <%= label_top "POS" %>

      <%= label_top "BP" %>
      <%= label_top "Pulse" %>
      <%= label_top "RR" %>
      <%= label_top "SPO2" %>

      <%= label_top "ETCO2" %>
      <%= label_top "CO" %>
      <%= label_top "BG" %>
      <%= label_top "Temp" %>

      <%= label_top "Pain" %>
      <%= label_top "GCS" %>
      <%= label_top "RTS" %>
      <%= label_top "<b>PTS</b>" %>
    </tr>

    <% @parser.parse_cluster('E14').sort_by { |e14| Time.parse(e14.E14_01) rescue Time.now }.each do |e14| %>
        <%= start_row %>
          <%= cell (e14.parse_time('E14_01')) %>
          <%= cell (e14.E14_22) %>
          <%= cell (e14.E14_29) %>
          <%= cell (e14.E14_30) %>

          <%= cell ("#{e14.E14_04}/#{e14.E14_05} #{e14.E14_06}") %>
          <%= cell ([(e14.E14_07 || e14.E14_08), e14.E14_10].compact.join(' ')) %>
          <%= cell ((e14.concat 'E14_11', 'E14_12')) %>
          <%= cell (e14.E14_09) %>

          <%= cell (e14.E14_13) %>
          <%= cell (e14.E14_31) %>
          <%= cell (e14.E14_14) %>
          <%= cell ((e14.concat 'E14_20', 'E14_21')) %>

          <%= cell (e14.E14_23) %>
          <%= cell (e14.E14_19) %>
          <%= cell (e14.E14_27) %>
          <%= cell (e14.E14_28) %>
        </tr>
    <% end %>
    </tbody>
  </table>
<br>
<% end %>

<% if @parser.has_content('E14_01','E14_03','E14_33') %>
<%= title = "ECG"
    start_table title, 3 %>
  <%= start_row %>
    <%= label "Time" %>
    <%= label "3-Lead ECG" %>
    <%= label "12-Lead ECG" %>
  </tr>

  <% @parser.parse_cluster('E14').sort_by { |e14| Time.parse(e14.E14_01) rescue Time.now }.each do |e14| %>
      <%= start_row %>
        <%= cell (e14.parse_time('E14_01')) %>
        <%= cell (e14.E14_03) %>
        <%= cell (e14.E14_33) %>
      </tr>
  <% end %>
</tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E18', 'E19') %>
    <%= title = "Flow Chart"
    start_table title, 4 %>
  <%= start_row %>
    <%= label "Time" %>
    <%= label "Treatment" %>
    <%= label "Description" %>
    <%= label "Provider" %>
  </tr>

  <% @parser.parse_clusters('E18', 'E19').sort_by { |c| Time.parse(c.sub_element('01')) rescue Time.now }.each do |cluster| %>
      <%= start_row %>
        <td><%= Time.parse(cluster.sub_element('01')).strftime('%H:%M') rescue nil %></td>
        <%= cell (cluster.sub_element('03')) %>
        <td>
          <p>
            <% if cluster.root_element_name == 'E18' %>
                <%= concat_list [(cluster.concat 'E18_05', 'E18_06'), cluster.E18_07, cluster.E18_08] %>
            <% elsif cluster.root_element_name == 'E19' %>
            <!-- This should eventually provide text not CPT codes (Richard, 4/17/2012 telecon) -->
                <%= cluster.E19_03 %>
            <% end %>
          </p>
        </td>
        <td><%= cluster.E19_09 %></td>
      </tr>
  <% end %>
</tbody>
</table>
<br>
<% end %>

<% assessments = @parser.parse_assessments
   unless assessments.empty?
%>
    <%= title = "Initial Assessment"
        start_table title, 4 %>
      <tbody>
      <% assessments.each do |assessment| %>
          <%= start_row %>
            <%= label "Category" %>
            <%= label "Comments" %>
            <%= label NBSP %>
            <%= label "Abnormalities" %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Mental Status", (assessment.E16_25) %>
            <%= labeled_cell "Mental Status", (assessment.E16_23) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Skin", (assessment.E16_26) %>
            <%= labeled_cell "Skin", (assessment.concat('E16_04', 'E15_01')) %>
          </tr>
          <%= start_row %>
            <%= tall_label "HEENT", 3 %>
            <%= cell assessment.E16_27, 1, 3 %>
            <%= labeled_cell "Head/Face", (assessment.concat('E16_05', 'E15_02', 'E15_03')) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Eyes", (assessment.concat('E16_21', 'E16_22')) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Neck", (assessment.concat('E16_06', 'E15_04')) %>
          </tr>
          <%= start_row %>
            <%= tall_label "Chest", 3 %>
            <%= cell assessment.E16_28, 1, 3 %>
            <%= labeled_cell "Chest", "TBD" %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Heart Sounds", (assessment.E16_08) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Lung Sounds", (assessment.E16_07) %>
          </tr>
          <%= start_row %>
            <%= tall_label "Abdomen", 5 %>
            <%= cell assessment.E16_29, 1, 5 %>
            <%= labeled_cell "General", (assessment.concat('E16_13', 'E15_06')) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Left Upper", (assessment.E16_09) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Right Upper", (assessment.E16_11) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Left Lower", (assessment.E16_10) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Right Lower", (assessment.E16_12) %>
          </tr>
          <%= start_row %>
            <%= tall_label "Back", 3 %>
            <%= cell assessment.E16_30, 1, 3 %>
            <%= labeled_cell "Cervical", (assessment.E16_14) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Thoracic", (assessment.concat('E16_15','E15_07')) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Lumbar/Sacral", (assessment.E16_16) %>
          </tr>
          <%= start_row %>
            <%= label "Pelvis/GU/GI" %>
            <%= cell (assessment.E16_31) %>
            <%= labeled_cell "Pelvis/GU/GI", (assessment.concat('E16_13', 'E15_09')) %>
          </tr>
          <%= start_row %>
            <%= tall_label "Extremities", 6 %>
            <%= cell assessment.E16_32, 1, 6 %>
            <%= labeled_cell "Left Arm", (assessment.E16_19) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Right Arm", (assessment.E16_17) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Left Leg", (assessment.concat('E16_20','E15_10')) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Right Leg", (assessment.E16_18) %>
          </tr>
          <%= start_row %>
          <%= labeled_cell "Pulse", assessment.E16_34 %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Capillary Refill", assessment.E16_35 %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Neurological", (assessment.E16_33) %>
            <%= labeled_cell "Neurological", (assessment.E16_24) %>
          </tr>
          <%= start_row %>
            <%= labeled_cell "Assessment Time", assessment.parse_time('E16_03', true), 3 %>
          </tr>
          </tbody>
          </table>
          <br>
      <% end %>
<% end %>

<% unless @parser.E13_01.empty? %>
<%= title = "Narrative"
    start_table '' %>
  <thead>
  <%= start_row %>
    <%= heading title %><%= cell (@parser.E13_01) %>
  </tr>
  </thead>
</table>
<br>
<% end %>

<% if @parser.has_content('E28') %>
    <%= title = "Specialty Patient &mdash; ACS"
        start_table title, 6 %>
        <tbody>
        <%= start_row %>
          <%= labeled_cell_narrow "12 Lead", @parser.E28_27 %>
          <%=  cell @parser.parse_time('E28_28', true), 4 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Lead I:", @parser.E28_07 %>
          <%= labeled_cell_narrow "V1:", @parser.E28_13 %>
          <%= labeled_cell_narrow "V4R:", @parser.E28_19 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Lead II:", @parser.E28_08 %>
          <%= labeled_cell_narrow "V2:", @parser.E28_14 %>
          <%= labeled_cell_narrow "V5R:", @parser.E28_20 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Lead III:", @parser.E28_09 %>
          <%= labeled_cell_narrow "V3:", @parser.E28_15 %>
          <%= labeled_cell_narrow "V6R:", @parser.E28_21 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "AVL:", @parser.E28_11 %>
          <%= labeled_cell_narrow "V4:", @parser.E28_16 %>
          <%= labeled_cell_narrow "V7:", @parser.E28_22 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "AVR:", @parser.E28_10 %>
          <%= labeled_cell_narrow "V5:", @parser.E28_17 %>
          <%= labeled_cell_narrow "V8:", @parser.E28_23 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "AVF:", @parser.E28_12 %>
          <%= labeled_cell_narrow "V6:", @parser.E28_18 %>
          <%= labeled_cell_narrow "V9:", @parser.E28_24 %>
        </tr>
        <%= start_row %>
          <%= cell "" %>
          <%= label_top "OPQRST:", 5 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Onset:", @parser.E28_01 %>
          <%= labeled_cell_narrow "Provoke:", @parser.E28_02 %>
          <%= labeled_cell_narrow "Quality:", @parser.E28_03 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Radiation:", @parser.E28_04 %>
          <%= labeled_cell_narrow "Severity:", @parser.E28_05 %>
          <%= labeled_cell_narrow "Time:", @parser.E28_06 %>
        </tr>
        <%= start_row %>
        <%= labeled_cell_narrow "Inclusion Criteria:", @parser.E28_25, 2 %>
        <%= labeled_cell_narrow "Exclusion Criteria:", @parser.E28_26, 2 %>
        </tr>
        </tbody>
    </table>
    <br>
<% end %>

<% if @parser.has_content('E25') %>
    <%= title = "Specialty Patient &mdash; Advanced Airway"
        start_table title, 4 %>
        <%= start_row %>
          <%= row 'E25_01', 'E25_02' %>
        </tr>
        <tbody>
        <%= start_row %>
          <%= label "Indications" %>
          <%= label "Monitoring" %>
          <%= label "Rescue" %>
          <%= label "Reasons Failed Intubation" %>
        </tr>
        <%= start_row %>
          <%= val = @parser.E25_03
              val.is_a?(Array) ? val.join(', ') : val
              cell val
          %>
          <%= val = @parser.E25_04
              val.is_a?(Array) ? val.join(', ') : val
              cell val
          %>
          <%= val = @parser.E25_05
              val.is_a?(Array) ? val.join(', ') : val
              cell val
          %>
          <%= val = @parser.E25_06
              val.is_a?(Array) ? val.join(', ') : val
              cell val
          %>
        </tr>
        </tbody>
    </table>
    <br>
<% end %>

<% if @parser.has_content('E26') %>
    <%= title = "Specialty Patient &mdash; Burns"
        start_table title, 8 %>
        <%= row 'E26_02', 'E26_03', 'E26_04', 'E26_01' %>
    </table>
    <br>
<% end %>

<% if @parser.has_content('E27') %>
    <%= title = "Specialty Patient &mdash; Stroke"
        start_table title, 10 %>
    <!--Onset, Screening Met, Facial Droop, Arm Drift, Speech-->
    <%= row 'E27_01','E27_02','E27_03','E27_04','E27_05' %>
    </table>
    <br>
<% end %>

<% if @parser.has_content('E29') %>
    <%= title = "Specialty Patient &mdash; CPR"
        start_table title, 4 %>
    <tbody>
    <%= row 'E29_01', 'E29_20' %>
    <%= row 'E29_02', 'E29_21' %>
    <%= row 'E29_03', 'E29_22' %>
    <%= row 'E29_17', 'E29_09' %>
    <%= row 'E29_18', 'E29_11' %>
    <%= row 'E29_04', 'E29_23' %>
    <%= row 'E29_05', 'E29_22' %>
    <%= row 'E29_26', 'E29_10' %>
    <%= row 'E29_27', 'E29_19' %>
    <%= row 'E29_28', 'E29_29' %>
    <%= row 'E29_06', 'E29_12' %>
    <%= row 'E29_07', 'E29_13' %>
    <%= row 'E29_25', {"Resuscitation Attempted" => "concat('E29_20', 'E29_30')"} %>
    <%= start_row %>
      <%= heading "In-Field Pronouncement", 4 %>
    </tr>
    <%= row( {"Expired" => "concat('E29_14', 'E29_15', 'E29_16')"}, 3) %>
    </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E31') %>
<%= title = "Specialty Patient &mdash; Motor Vehicle Collision"
    start_table title, 4 %>
    <tbody>
    <!--Injured? Police Report #-->
    <%= row 'E31_01', 'E31_06' %>
    <!--Vehicle type, collision indicators-->
    <%= row 'E31_02', 'E31_12' %>
    <!--Seat Row, Airbag Deployment-->
    <%= row 'E31_03', 'E31_14' %>
    <!--Position in vehicle, damage location-->
    <%= row 'E31_04', 'E31_15' %>
    <!--Weather, Safety Devices-->
    <%= row 'E31_05', 'E31_13' %>
    <!--Extrication reqd? Comments-->
    <%= row 'E31_07', 'E31_08' %>
    <!--Est Speed, Extrication time-->
    <%= row 'E31_09', 'E31_11' %>
    </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E24') %>
    <%= title = "Specialty Patient &mdash; Trauma Criteria"
        start_table title, 4 %>
    <tbody>
    <!--Anatomic, Trauma Activation-->
    <%=  row 'E24_08', 'E24_01' %>
    <!--Physiologic, Date/Time-->
    <%=  row 'E24_06', 'E24_02' %>
    <!--Mechanical, Trauma Level-->
    <%=  row 'E24_07', 'E24_04' %>
    <!--Other Conditions, Reason not Activated-->
    <%=  row 'E24_05', 'E24_03' %>
    </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E32') %>
<%= title = "Specialty Patient &mdash; Obstetrical"
    start_table title, 7 %>
    <tbody>
    <%= start_row %>
    <%= labeled_cell @parser.name('E32_01'), @parser.E32_01 %><%= labeled_cell @parser.name('E32_09'), @parser.E32_09 %><%= label "APGAR" %><%= label "1 Min" %><%= label "5 Min" %>
    </tr>
    <%= ob_row('E32_02', 'E32_10', 'E32_19', 'E32_25') %>
    <%= ob_row('E32_03', 'E32_11', 'E32_20', 'E32_26') %>
    <%= ob_row('E32_04', 'E32_12', 'E32_21', 'E32_27') %>
    <%= ob_row('E32_05', 'E32_13', 'E32_22', 'E32_28') %>
    <%= ob_row('E32_06', 'E32_14', 'E32_23', 'E32_29') %>
    <%= ob_row('E32_07',       '', 'E32_24', 'E32_30') %>
    <%=    row('E32_08', 6)%>
    <%= start_row %>
    <%
       #complication_info = %w(E32_15 E32_16 E32_17 E32_18).collect {|e| el=@parser.get(e); (el[:value] =~ /yes/i) ? el[:name] : nil }.join('; ')
       names = []
       %w(E32_15 E32_16 E32_17 E32_18).each do |e|
         el = @parser.get(e)
         if el[:value] =~ /yes/i
           names << el[:name]
         end
       end
       complication_info = names.join('; ')
    %>
      <%= labeled_cell "Complications", complication_info, 6 %>
    </tr>
    </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E34') %>
    <%= title = "Specialty Patient &mdash; Spinal Immobilization"
        start_table title, 6 %>
    <%= row 'E34_01','E34_02','E34_03' %>
    <%= row 'E34_04','E34_05','E34_06' %>
</table>
<br>
<% end %>

<% if @parser.has_content('E30') %>
    <%= title = "Specialty Patient &mdash; Influenza Screening"
        start_table title, 4 %>
    <%= row 'E30_01', '' %>
    <%= row({"Symptoms" => ""}, {"History" => ""}) %>
    <%= row 'E30_03', 'E30_08' %>
    <%= row 'E30_04', 'E30_09' %>
    <%= row 'E30_05', 'E30_10' %>
    <%= row 'E30_06', 'E30_11' %>
    <%= row 'E30_07', '' %>
    <%= row 'E30_02', '' %>
</table>
<br>
<% end %>

<% if @parser.has_content('E33') %>
    <%= title = "Specialty Patient &mdash; SAD (Psychiatric Ax)"
        start_table title, 4 %>
    <%= row 'E33_01', 'E33_06' %>
    <%= row 'E33_02', 'E33_07' %>
    <%= row 'E33_03', 'E33_08' %>
    <%= row 'E33_04', 'E33_09' %>
    <%= start_row %>
    <%
       if @parser.E33_10 == ""
         risk_assessment_scale = "N/A"
       else
         score = @parser.E33_10.to_i
         if score <= 4
           risk_assessment_scale = "Low"
         elsif score == 5 or score == 6
           risk_assessment_scale = "Medium"
         else
           risk_assessment_scale = "High"
         end
       end
    %>
      <%= labeled_cell @parser.name('E33_05'), @parser.E33_05 %><%= labeled_cell "#{@parser.name('E33_10')} (#{@parser.E33_10})", risk_assessment_scale %>
    </tr>
</table>
<br>
<% end %>

<% if @parser.has_content('E05') %>
<%= title = "Incident Details"
    start_table "", 6 %>
  <thead>
    <%= start_row %>
      <%= heading title, 2 %>
      <%= heading "Destination Details", 2 %>
      <%= heading "Incident Times", 2 %>
    </tr>
  </thead>
  <tbody>
    <!-- Location, Disposition, Call Rec'd -->
    <%= row('E08_07', {"Disposition" => "concat('E20_10', 'E20_14')"}, 'E05_01') %>
    <!-- Address, Transport due to, dispatched -->
    <%= row('E08_11', 'E20_16', {"Dispatched" => "parse_time('E05_04')"}) %>
    <!-- Address 2, Transported to, En route -->
    <%= row({"Address 2" => "parse_value_of('IncidentAddress2')"}, 'E20_01', 'E05_05') %>
    <!-- City, Requested By, Resp on Scene -->
    <%= row('E08_12', {"Requested By" => "parse_value_of('Requested By')"},'E05_06') %>
    <!-- State, Destination, On Scene -->
    <%= row({"State" => "parse_state('E08_14')"}, 'E20_17', 'E05_06') %>
    <!-- Zip, Address, At Patient -->
    <%= row('E08_15', 'E20_03', 'E05_07') %>
    <!-- Medic Unit, Address 2, Depart -->
    <%= row('E02_03', {"Address 2" => "parse_value_of('DestinationAddress2')"}, 'E05_09') %>
    <!-- Run type, City, At Dest -->
    <%= row('E02_04', 'E20_04', 'E05_10') %>
    <!-- Priority Scene, State, Transferred -->
    <%= row('E02_20', {"State" => "parse_state('E20_05')"}, 'E05_08') %>
    <!-- Shift, Zip, Closed -->
    <%= row({"Shift" => "parse_value_of('Shift')"}, 'E20_07', 'E05_11') %>
    <!-- Scene Zone, Dest Zone, In District -->
    <%= row('E08_09', 'E20_09', 'E05_13') %>
    <!-- Level of Svc, Condition at Dest, Record # -->
    <%= row({"Level of Service" => "parse_value_of('Level of Service')"}, 'E20_15', 'E12_03') %>
  </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E04') %>
<%= title = "Crew Members"
    start_table '' %>
  <thead>
  <%= start_row %>
    <%= heading title, 4 %>
  </tr>
  </thead>
  <tbody>
  <%= start_row %>
    <%= label_top "<b>Personnel</b>" %>
    <%= label_top "<b>Certification Number</b>" %>
    <%= label_top "<b>Role</b>" %>
    <%= label_top "<b>Certification Level</b>" %>
  </tr>
  <% @parser.parse_cluster('E04').each do |e04| %>
      <%= start_row %>
        <%= cell ("#{e04.E04_05} #{e04.E04_04}") %>
        <%= cell (e04.E04_01) %>
        <%= cell (e04.E04_02) %>
        <%= cell (e04.E04_03) %>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E07') %>
<%= title = "Insurance Details"
    start_table title, 8 %>
  <tbody>
  <!--Name, Primary Payer, Dispatch Nature-->
  <%= row( {'Insured\'s Name' => "concat('E07_11', 'E07_12', 'E07_13')"}, 'E07_01', '') %>
  <!--Relationship to Patient, Medicare, Response Urgency-->
  <%= row 'E07_14', 'E07_', 'E07_33' %>
  <!--Insured SSN, Medicaid, Job Related?-->
  <%= row 'E07_', 'E07_', 'E07_15' %>
  <!--Insured DOB, Primary Ins, Secondary Ins-->
  <%= row 'E07_', 'E07_03', 'E07_' %>
  <!--Address, Policy #, Policy #-->
  <%= row 'E07_', 'E07_10', 'E07_' %>
  <!--City/St/Zip/Country, Group #, Group #-->
  <%= row 'E07_', 'E07_09', 'E07_' %>
  <!--Employer, Contact, Phone-->
  <%= row 'E07_27', 'E07_', 'E07_32' %>
  </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E02') %>
<%= start_table %>
  <tbody>
  <%= start_row %>
    <%= heading "Mileage" %>
  <%= labeled_cell "Start", @parser.E02_16 %>
  <%= labeled_cell "Scene", @parser.E02_17 %>
    <%= labeled_cell "Destination", @parser.E02_18 %>
    <%= labeled_cell "End", @parser.E02_19 %>
    <%= labeled_cell "Loaded Miles", @parser.E02_18.to_i - @parser.E02_17.to_i %>
    <%= labeled_cell "Total Miles", @parser.E02_19.to_i - @parser.E02_16.to_i %>
  </tr>
  </tbody>
</table>
<br>
<% end %>

<% additional_agencies = @parser.concat 'E08_01', 'E08_02'
   unless additional_agencies.empty?
%>
    <%= start_table %>
      <tbody>
      <%= start_row %>
        <%= heading "Additional Agencies" %>
        <%= cell (additional_agencies) %>
      </tr>
      </tbody>
    </table>
    <br>
<% end %>
<% delays = list_of_delays
   unless delays.empty?
%>
    <%= start_table "Delays", 2 %>
      <tbody>
      <%= list delays %>
      </tbody>
    </table>
    <br>
<% end %>

<% next_of_kin = concat_list [@parser.concat('E07_18', 'E07_19', 'E07_20'), @parser.E07_26, @parser.E07_25]
   next_of_kin_address = concat_list [@parser.E07_21, @parser.E07_22, @parser.E07_23]
   unless next_of_kin.empty? and next_of_kin_address.empty?
%>
<%= start_table "Next of Kin/Closest Relation/Guardian", 2 %>
  <tbody>
  <%= start_row %>
    <%= labeled_cell_narrow "Next of Kin Name", next_of_kin %>
  </tr>
  <%= start_row %>
    <%= labeled_cell_narrow "Address", next_of_kin_address %>
  </tr>
  </tbody>
</table>
<br>
<% end %>

<% unless true %>
<%= start_table "Personal Items", 3 %>
  <tbody>
  <%= start_row %>
    <%= label "Item" %>
    <%= label "Given To" %>
    <%= label "Comment" %>
  </tr>
  <%= start_row %>
    <%= cell "TBD" %>
    <%= cell "TBD" %>
    <%= cell "TBD" %>
  </tr>
  </tbody>
</table>
<br>
<% end %>

<% if false and @parser.has_content('E20_16','E12_02', 'E07_34', 'E07_35', 'E07_36', 'E07_37', 'E07_02')   %>
    <%= start_table "Transfer Details", 4 %>
    <!--PAN, Sending Phys.-->
    <%=  row({"PAN" => ''}, {"Sending Physician" => ''})  %>
    <!--PCS, Sending Record #-->
    <%=  row({"PCS" => ''}, 'E12_02')  %>
    <!--ABN, Receiving Phys-->
    <%=  row({"ABN" => ''}, {"Receiving Physician" => ''})  %>
    <!--CMS Level Service, Condition Code-->
    <%=  row('E07_34', 'E07_35')  %>
    <!--ICD-9 Code, Condition Modifier Code-->
    <%=  row('E07_36', 'E07_37')  %>
    <!--Transfer Reason-->
    <%=  row('E20_16',3)  %>
    <!--Other/Services-->
    <%=  row({"Other/Services" => ''}, 3)  %>
    <!--Medical Necessity-->
    <%=  row('E07_02', 3)  %>
</table>
<br>
<% end %>

<p>Timestamp: <%= "#{runsheet_timestamp}" %></p>
