
<%
   NBSP ||= "&nbsp;"
%>

<% if @fancy_html %>
    <%= HTML_STYLE %>
<% end %>

<h4>Wake County EMS System - Patient Care Record</h4>
<%= borderless_table %>
    <%= start_row %>
      <%= borderless_cell "Name:", "#{@parser.E06_01}, #{@parser.E06_02}" %>
      <%= borderless_cell "Incident #:", @parser.E02_02 %>
      <%= borderless_cell "Date:", @parser.parse_time('E05_03', true) %>
    </tr>
  </table>

<%= title = "Patient Information"
    start_table title, 6 %>
  <tbody>
  <!--Last, address, dob-->
  <%= row 'E06_01', 'E06_04', 'E06_16' %>
  <!--First, city/st/zip, weight-->
  <%= start_row %>
    <%= labeled_cell 'First', @parser.E06_02 %>
    <%= labeled_cell 'City, St Zip', "#{@parser.parse_city('E06_05')}, #{@parser.parse_state('E06_07')} #{@parser.E06_08}" %>
    <%= labeled_cell 'Weight', @parser.weight_in_words %>
  </tr>
  <!--Middle, phone, SSN-->
  <%= row 'E06_03', 'E06_17', 'E06_10' %>
  <!--Gender, county, physician -->
  <%= row 'E06_11', {'County' => "parse_county('E06_06')"}, {'Physician' => "concat('E12_04', 'E12_06')"} %>
  <!--Age, country-->
  <%= row( {'Age' => 'age_in_words'}, 'E06_09', {'' => '&nbsp;'}) %>
  <%= start_row %>
    <%= labeled_cell "Advanced Directive", @parser.E12_07, 5 %>
  </tr>
  </tbody>
</table>
<br>
<%= title = "Clinical Impression"
    start_table title, 6 %>
  <tbody>
      <!-- Primary Impression, Anatomical Position, Injury -->
      <%= row( {'Primary Impression' => "concat('E09_19')"}, 'E09_11', {'Injury' => "concat_with_hyphen('E10_11', 'E10_15', 'E10_13', 'E10_14')"} )%>
      <!-- Secondary Impression, Chief Complaint (Dur), Medical/Trauma -->
      <% chief_complaint = @parser.has_content('E09_05') ? "#{@parser.E09_05} &ndash; Dur. #{@parser.E09_06} #{@parser.E09_07}" : '&nbsp;' %>
      <%= row( {'Secondary Impression' => "E09_20"}, {'Chief Complaint' => chief_complaint}, {'Medical/Trauma' => "parse_value_of('MedicalTrauma')"} )%>
      <!-- Protocol Used (D04_08), Secondary Complaint (Dur), Barriers of Care -->
      <% secondary_complaint = @parser.has_content('E09_08') ? "#{@parser.E09_08} &ndash; Dur. #{@parser.E09_09} #{@parser.E09_10}" : '&nbsp;' %>
      <%= row 'E17_01', {'Secondary Complaint' => secondary_complaint}, 'E12_27' %>
      <!-- Signs & Symptoms, Alcohol/Drugs -->
      <%= row({"Signs &amp; Symptoms" => "concat_with_comma('E09_13', 'E09_14', 'E09_17', 'E09_18')"}, 'E12_19', 2) %>
  </tbody>
</table>
<br>
<% if @parser.has_content('E12') %>
<%= title = "Medication/Allergies/History"
    start_table title %>
  <tbody>
    <% medications = [] %>
    <% if @parser.has_content('E12_14_0') %>
      <% @parser.parse_cluster('E12_14_0').each do |e12_14| %>
        <% medications << e12_14.concat('E12_15', 'E12_16', 'E12_21') %>
      <% end %>
    <% end %>
    <%= start_row %>
      <%= labeled_cell 'Medications', medications.join('; ') %>
    </tr>

    <%= row({"Allergies" => "concat_with_comma('E12_22', 'E12_23')"}) %>
    <%= row({"History"   => "concat_with_comma('E12_24')"}) %>
  </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E14') %>
    <%= title = "Vital Signs"
    start_table title, 16 %>

    <%= start_row %>
      <%= label_top "Time" %>
      <%= label_top "AVPU" %>
      <%= label_top "Side" %>
      <%= label_top "POS" %>

      <%= label_top "BP" %>
      <%= label_top "Pulse" %>
      <%= label_top "RR" %>
      <%= label_top "SPO2" %>

      <%= label_top "ETCO2" %>
      <%= label_top "CO" %>
      <%= label_top "BG" %>
      <%= label_top "T &deg;F" %>

      <%= label_top "Pain" %>
      <%= label_top "GCS" %>
      <%= label_top "RTS" %>
      <%= label_top "<b>PTS</b>" %>
    </tr>

    <% # comment the 1.year.ago is so that it gets ordered first in the list (i.e., oldest vital sign data)
       @parser.parse_cluster('E14').sort_by { |e14| Time.parse(e14.E14_01) rescue 1.year.ago }.each do |e14| %>
        <%
           next unless e14.E14_22.present? || e14.E14_29.present? || e14.E14_30.present? \
            || e14.E14_04.present? || e14.E14_05.present? || e14.E14_07.present? || e14.E14_08.present? || e14.E14_11.present? || e14.E14_09.present? \
            || e14.E14_13.present? || e14.E14_31.present? || e14.E14_14.present? || e14.E14_20.present? \
            || e14.E14_23.present? || e14.E14_19.present? || e14.E14_18.present? || e14.E14_27.present? || e14.E14_28.present?
        %>
        <%
          time = e14.parse_time('E14_01')
           # When time is missing, we get a special 'space' value that we want to replace with PTA
          time = 'PTA' if time == "".space
        %>
        <%= start_row %>
          <%= cell (time) %>
          <%= cell (e14.E14_22) %>
          <%= cell (e14.E14_29) %>
          <%= cell (e14.E14_30) %>

          <%= cell ("#{[e14.E14_04, e14.E14_05].select {|v| !v.to_s.eql?('')}.compact.join('/')}&nbsp;#{e14.E14_06}") %>
          <%= cell ("#{[(!e14.E14_07.to_s.eql?('') ? e14.E14_07 : e14.E14_08), e14.E14_35].compact.join(' ')}&nbsp;") %>
          <%= cell ((e14.concat 'E14_11', 'E14_38')) %>
          <%= cell (e14.E14_09) %>

          <%= cell (e14.E14_13) %>
          <%= cell (e14.E14_31) %>
          <%= cell (e14.E14_14) %>
          <% temp = e14.E14_20.to_f == 0 ? '&nbsp;' : (e14.E14_20.to_f*9.0/5.0 + 32).round(1) %>
          <%= cell (("#{temp} #{e14.E14_37}")) %>

          <%= cell (e14.E14_23) %>
          <%= cell ("#{e14.E14_19}#{(e14.E14_19.empty? || e14.E14_18.empty?) ? '' : '/'}#{e14.E14_18}") %>
          <%= cell (e14.E14_27) %>
          <%= cell (e14.E14_28) %>
        </tr>
    <% end %>
    </tbody>
  </table>
<br>
<% end %>

<% if @parser.has_content('E14_03','E14_33') %>
    <%= title = "ECG"
        start_table title, 3 %>
      <%= start_row %>
        <%= label "Time" %>
        <%= label "3-Lead ECG" %>
        <%= label "12-Lead ECG" %>
      </tr>

      <% @parser.parse_cluster('E14').sort_by { |e14| Time.parse(e14.E14_01) rescue Time.now }.each do |e14| %>
        <% unless e14.E14_03.empty? and e14.E14_33.empty? %>
          <%= start_row %>
            <%= cell(e14.parse_time('E14_01')) %>
            <%= cell(e14.E14_34) %>
            <%= cell("#{e14.E14_32.eql?('Yes') ? 'MI Suspected; ' : ''}&nbsp;#{e14.E14_33}") %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
    <br>
<% end %>

<!--FLOW CHART: Time, Treatment, Description, Provider-->
<!--PTA columns: Treatment, Treatment By, Patient Response, Comments-->

<% if @parser.has_content('E18') || @parser.has_content('E19') %>
    <% # Create two buckets to hold flow chart and pta HTML data
       rows = {:flow_chart => [], :pta => []}
    %>

    <% @parser.parse_cluster('E18').each do |e18| %>
      <% if e18.E18_02.eql?('Yes') %>
        <% rows[:pta] << {:time => e18.E18_01, 
                          :html => row_from_values(e18.E18_12,
                                                   # e18.concat_with_comma('E18_13', 'E18_14', 'E18_15'),
                                                   e18.E18_15,
                                                   e18.E18_07,
                                                   e18.E18_16)} %>
      <% elsif (e18.E18_12 + e18.E18_16 + e18.E18_13 + e18.E18_14).strip.length > 0 %>
        <% rows[:flow_chart] << {:time => e18.E18_01, 
                                 :html => row_from_values(to_time(e18.E18_01),
                                                          e18.E18_12,
                                                          e18.E18_16,
                                                          e18.concat_with_comma('E18_13', 'E18_14'))} %>
      <% end %>
    <% end %>

    <% @parser.parse_cluster('E19_01_0').each do |e19| %>
      <% if e19.E19_02.eql?('Yes') %>
        <% rows[:pta] << {:time => e19.E19_01, 
                          :html => row_from_values(e19.E19_15,
                                                   e19.E19_18,
                                                   e19.E19_08,
                                                   e19.concat_with_comma('E19_19', 'E19_20'))} %>
      <% elsif (e19.E19_15 + e19.E19_16 + e19.E19_17 + e19.E19_20).strip.length > 0 %>
        <% rows[:flow_chart] << {:time => e19.E19_01, 
                                 :html => row_from_values(to_time(e19.E19_01),
                                                          e19.E19_15,
                                                          e19.E19_20,
                                                          e19.concat_with_comma('E19_16', 'E19_17'))} %>
      <% end %>
    <% end %>

    <% if !rows[:flow_chart].empty? %>
        <%= title = "Flow Chart"
            start_table title, 4 %>
        <%= heading_row 'E18_01', 'E18_03', 'Description', 'E18_09' %>
        <% rows[:flow_chart].sort_by { |r| Time.parse(r[:time]) rescue Time.now }.each do |row| %>
          <%= row[:html] %>
        <% end %>
        </tbody>
      </table>
      <br>
    <% end %>

    <% if !rows[:pta].empty? %>
      <%= title = "Treatments Prior to Arrival"
          start_table title, 4 %>
      <%= heading_row 'Treatment', 'Treatment By', 'Patient Response', 'Comments' %>
      <% rows[:pta].sort_by { |r| Time.parse(r[:time]) rescue Time.now }.each do |row| %>
        <%= row[:html] %>
      <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
<% end %>

<% if @parser.has_content('E16') && @parser.has_content('E16_00_0') %>
    <% assessments = @parser.parse_assessments
       n = 0
       total = assessments.size %>
    <% assessments.each do |assessment| %>
        <%= n += 1
            title = "#{n==1 ? 'Initial' : 'Ongoing'} Assessment #{total > 1 ? "(#{n} of #{total})" : ''}"
            start_table title, 4 %>
                <tbody>
                    <%= assessment_table(assessment) %>
                </tbody>
            </table>
        <br>
    <% end %>
<% end %>

<% unless @parser.E13_02.empty? %>
  <%= title = "Narrative"
      start_table title %>
    <%= start_row %>
      <%= cell @parser.E13_02.to_br %>
    </tr>
  </table>
  <br>
<% end %>

<% if @parser.has_content('E28') %>
    <%= title = "Specialty Patient &mdash; ACS"
        start_table title, 6 %>
        <tbody>
        <%= start_row %>
          <%= labeled_cell_narrow "12 Lead", @parser.E28_27 %>
          <% time = @parser.parse_time('E28_28', true)
             time = '&nbsp;' if time.nil? || time.strip.empty?%>
          <%= cell("#{time}", 4) %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Lead I:", @parser.E28_07 %>
          <%= labeled_cell_narrow "V1:", @parser.E28_13 %>
          <%= labeled_cell_narrow "V4R:", @parser.E28_19 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Lead II:", @parser.E28_08 %>
          <%= labeled_cell_narrow "V2:", @parser.E28_14 %>
          <%= labeled_cell_narrow "V5R:", @parser.E28_20 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Lead III:", @parser.E28_09 %>
          <%= labeled_cell_narrow "V3:", @parser.E28_15 %>
          <%= labeled_cell_narrow "V6R:", @parser.E28_21 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "AVL:", @parser.E28_11 %>
          <%= labeled_cell_narrow "V4:", @parser.E28_16 %>
          <%= labeled_cell_narrow "V7:", @parser.E28_22 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "AVR:", @parser.E28_10 %>
          <%= labeled_cell_narrow "V5:", @parser.E28_17 %>
          <%= labeled_cell_narrow "V8:", @parser.E28_23 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "AVF:", @parser.E28_12 %>
          <%= labeled_cell_narrow "V6:", @parser.E28_18 %>
          <%= labeled_cell_narrow "V9:", @parser.E28_24 %>
        </tr>
        <%= start_row %>
          <%= cell "" %>
          <%= label_top "OPQRST:", 5 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Onset:", @parser.E28_01 %>
          <%= labeled_cell_narrow "Provoke:", @parser.E28_02 %>
          <%= labeled_cell_narrow "Quality:", @parser.E28_03 %>
        </tr>
        <%= start_row %>
          <%= labeled_cell_narrow "Radiation:", @parser.E28_04 %>
          <%= labeled_cell_narrow "Severity:", @parser.E28_05 %>
          <%= labeled_cell_narrow "Time:", @parser.E28_06 %>
        </tr>
        <%= start_row %>
        <%= labeled_cell_narrow "Inclusion Criteria:", @parser.E28_25, 2 %>
        <%= labeled_cell_narrow "Exclusion Criteria:", @parser.E28_26, 2 %>
        </tr>
        </tbody>
    </table>
    <br>
<% end %>

<% if @parser.has_content('E25') %>
    <%= title = "Specialty Patient &mdash; Advanced Airway"
        start_table title, 4 %>
        <%= start_row %>
          <%= row 'E25_01', 'E25_02' %>
        </tr>
        <tbody>
        <%= start_row %>
          <%= label "Indications" %>
          <%= label "Monitoring" %>
          <%= label "Rescue" %>
          <%= label "Reasons Failed Intubation" %>
        </tr>
        <%= start_row %>
          <%= val = @parser.E25_03
              val.is_a?(Array) ? val.join(', ') : val
              cell val
          %>
          <%= val = @parser.E25_04
              val.is_a?(Array) ? val.join(', ') : val
              cell val
          %>
          <%= val = @parser.E25_05
              val.is_a?(Array) ? val.join(', ') : val
              cell val
          %>
          <%= val = @parser.E25_06
              val.is_a?(Array) ? val.join(', ') : val
              cell val
          %>
        </tr>
        </tbody>
    </table>
    <br>
<% end %>

<% if @parser.has_content('E26') %>
    <%= title = "Specialty Patient &mdash; Burns"
        start_table title, 8 %>
        <%= row 'E26_02', 'E26_03', 'E26_04', 'E26_01' %>
    </table>
    <br>
<% end %>

<% if @parser.has_content('E27') %>
    <%= title = "Specialty Patient &mdash; Stroke"
        start_table title, 10 %>
    <!--Onset, Screening Met, Facial Droop, Arm Drift, Speech-->
    <%= row 'E27_01','E27_02','E27_03','E27_04','E27_05' %>
    </table>
    <br>
<% end %>

<% if @parser.has_content('E29') %>
    <%= title = "Specialty Patient &mdash; CPR"
        start_table title, 4 %>
    <tbody>
    <%= row 'E29_01', 'E29_20' %>
    <%= row 'E29_02', 'E29_21' %>
    <%= row 'E29_03', 'E29_22' %>
    <%= start_row %>
      <%= labeled_cell @parser.name('E29_17'), "#{@parser.E29_17} min" %>
      <%= labeled_cell @parser.name('E29_09'), @parser.E29_09 %>
    </tr>
    <%= start_row %>
      <%= labeled_cell @parser.name('E29_18'), "#{@parser.E29_18} min" %>
      <%= labeled_cell @parser.name('E29_11'), @parser.E29_31 %>
    </tr>
    <%= row 'E29_04', 'E29_23' %>
    <%= row 'E29_05', 'E29_22' %>
    <%= row 'E29_26', 'E29_10' %>
    <%= row 'E29_27', 'E29_19' %>
    <%= row 'E29_28', 'E29_29' %>
    <%= row 'E29_06', 'E29_12' %>
    <%= row 'E29_07', 'E29_13' %>
    <%= start_row %>
      <%= labeled_cell @parser.name('E29_25'), @parser.E29_25 %>
      <%= labeled_cell 'Resuscitation Attempted', "Resuscitation attempted - #{@parser.E29_08}; #{@parser.E29_30}" %>
    </tr>
    <%= start_row %>
      <%= heading "In-Field Pronouncement", 4 %>
    </tr>
    <%= row( {"Expired" => 'E29_14'}, {'Date/Time' => 'E29_15'} ) %>
    <%= row( {'Physician' => 'E29_16'}, {'&nbsp;' => '&nbsp;'} ) %>
    </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E31') %>
<%= title = "Specialty Patient &mdash; Motor Vehicle Collision"
    start_table title, 4 %>
    <tbody>
    <!--Injured? Police Report #-->
    <%= row 'E31_01', 'E31_06' %>
    <!--Vehicle type, collision indicators-->
    <%= row 'E31_02', 'E31_12' %>
    <!--Position in vehicle, Damage location-->
    <%= row({'Position in vehicle' => 'E10_12'}, 'E31_14') %>
    <!--Seat row, Airbag deploy location -->
    <%= row 'E31_04', 'E31_15' %>
    <!--Weather, Safety Devices-->
    <%= row 'E31_05', 'E31_13' %>
    <!--Extrication reqd? Comments-->
    <%= row 'E31_07', 'E31_08' %>
    <!--Est Speed, Extrication time-->
    <%= row 'E31_09', 'E31_11' %>
    </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E24') %>
    <%= title = "Specialty Patient &mdash; Trauma Criteria"
        start_table title, 4 %>
    <tbody>
    <!--Anatomic, Trauma Activation-->
    <%=  row 'E24_08', 'E24_01' %>
    <!--Physiologic, Date/Time-->
    <%=  row 'E24_06', 'E24_02' %>
    <!--Mechanical, Trauma Level-->
    <%=  row 'E24_07', 'E24_04' %>
    <!--Other Conditions, Reason not Activated-->
    <%=  row 'E24_05', 'E24_03' %>
    </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E32') %>
<%= title = "Specialty Patient &mdash; Obstetrical"
    start_table title, 7 %>
    <tbody>
    <%= start_row %>
    <%= labeled_cell @parser.name('E32_01'), @parser.E32_01 %><%= labeled_cell @parser.name('E32_09'), @parser.E32_09 %><%= label "APGAR" %><%= label "1 Min" %><%= label "5 Min" %>
    </tr>
    <%= ob_row('E32_02', 'E32_10', 'E32_19', 'E32_25') %>
    <%= ob_row('E32_03', 'E32_11', 'E32_20', 'E32_26') %>
    <%= ob_row('E32_04', 'E32_12', 'E32_21', 'E32_27') %>
    <%= ob_row('E32_05', 'E32_13', 'E32_22', 'E32_28') %>
    <%= ob_row('E32_06', 'E32_14', 'E32_23', 'E32_29') %>
    <%= ob_row('E32_07',       '', 'E32_24', 'E32_30') %>
    <%=    row('E32_08', 6)%>
    <%= start_row %>
    <%
       #complication_info = %w(E32_15 E32_16 E32_17 E32_18).collect {|e| el=@parser.get(e); (el[:value] =~ /yes/i) ? el[:name] : nil }.join('; ')
       names = []
       %w(E32_15 E32_16 E32_17 E32_18).each do |e|
         el = @parser.get(e)
         if el[:value] =~ /yes/i
           names << el[:name]
         end
       end
       complication_info = names.join('; ')
    %>
      <%= labeled_cell "Complications", complication_info, 6 %>
    </tr>
    </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E34') %>
    <%= title = "Specialty Patient &mdash; Spinal Immobilization"
        start_table title, 6 %>
    <%= row 'E34_01','E34_02','E34_03' %>
    <%= row 'E34_04','E34_05','E34_06' %>
</table>
<br>
<% end %>

<% if @parser.has_content('E30') %>
    <%= title = "Specialty Patient &mdash; Influenza Screening"
        start_table title, 4 %>
    <%= row 'E30_01', {'&nbsp;' => '&nbsp;'} %>
    <%= row({'Symptoms' => '&nbsp;'}, {'History' => '&nbsp;'}) %>
    <%= row 'E30_03', 'E30_08' %>
    <%= row 'E30_04', 'E30_09' %>
    <%= row 'E30_05', 'E30_10' %>
    <%= row 'E30_06', 'E30_11' %>
    <%= row 'E30_07', {'&nbsp;' => '&nbsp;'} %>
    <%= row 'E30_02', {'&nbsp;' => '&nbsp;'} %>
</table>
<br>
<% end %>

<% if @parser.has_content('E33') %>
    <%= title = "Specialty Patient &mdash; SAD (Psychiatric Ax)"
        start_table title, 4 %>
    <%= row 'E33_01', 'E33_06' %>
    <%= row 'E33_02', 'E33_07' %>
    <%= row 'E33_03', 'E33_08' %>
    <%= row 'E33_04', 'E33_09' %>
    <%= start_row %>
    <%
       if @parser.E33_10 == ""
         risk_assessment_scale = "N/A"
       else
         score = @parser.E33_10.to_i
         if score <= 4
           risk_assessment_scale = "Low"
         elsif score == 5 or score == 6
           risk_assessment_scale = "Medium"
         else
           risk_assessment_scale = "High"
         end
       end
    %>
      <%= labeled_cell @parser.name('E33_05'), @parser.E33_05 %><%= labeled_cell "#{@parser.name('E33_10')} (#{@parser.E33_10})", risk_assessment_scale %>
    </tr>
</table>
<br>
<% end %>

<% if @parser.has_content('E05') %>
<%= title = "Incident Details"
    start_table "", 6 %>
  <thead>
    <%= start_row %>
      <%= heading title, 2 %>
      <%= heading "Destination Details", 2 %>
      <%= heading "Incident Times", 2 %>
    </tr>
  </thead>
  <tbody>
    <!-- Location, Disposition, Call Rec'd -->
    <%= row('E08_07', 'E20_19', {"Call Received" => "parse_time('E05_14')"}) %>
    <!-- Location, Transport due to, dispatched -->
    <%= row('E08_16', 'E20_16', {"Dispatched" => "parse_time('E05_04')"}) %>
    <!-- Address 2, Transported to, En route -->
    <%= row('E08_11', 'E20_01', {"En Route" => "parse_time('E05_05')"}) %>
    <!-- Address 2, Requested By, Resp on Scene -->
    <%= row({'Address 2' => "parse_value_of('IncidentAddress2')"}, {"Requested By" => "parse_value_of('Requested By')"}, { "&nbsp;" => '&nbsp;'}) %>
    <!-- City, Destination, On Scene -->
    <%= row({'City' => "parse_city('E08_12')"}, 'E20_17', {"On Scene" => "parse_time('E05_06')"}) %>
    <!-- State, Address, At Patient -->
    <%= row({'State' => "parse_state('E08_14')"}, 'E20_03', {"At Patient" => "parse_time('E05_07')"}) %>
    <!-- Zip, Address 2, Depart -->
    <%= row('E08_15', {"Address 2" => "parse_value_of('DestinationAddress2')"}, {"Depart Scene" => "parse_time('E05_09')"}) %>
    <!-- Medic Unit, City, At Dest -->
    <%= row({'Medic Unit' => 'E02_22'}, {'City' => "parse_city('E20_04')"}, {"At Dest." => "parse_time('E05_10')"}) %>
    <!-- Run type, State, Transferred -->
    <%= row('E02_04', {"State" => "parse_state('E20_05')"}, {"Pt Xferred" => "parse_time('E05_08')"}) %>
    <!-- Priority Scene, Zip, Closed -->
    <%= row('E02_20', 'E20_07', {"Back in Svc" => "parse_time('E05_11')"}) %>
    <!-- Shift, '', In District -->
    <%= row({"Shift" => "parse_value_of('Shift')"}, {"&nbsp;" => '&nbsp;'}, {"Back @HomeLoc" => "parse_time('E05_13')"}) %>
    <!-- Level of Svc, Condition at Dest, Record # -->
    <%= row({"Level of Service" => "parse_value_of('Level of Service')"}, 'E20_15', 'E12_03') %>
  </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E04') %>
<%= title = "Crew Members"
    start_table '' %>
  <thead>
  <%= start_row %>
    <%= heading title, 4 %>
  </tr>
  </thead>
  <tbody>
  <%= start_row %>
    <%= label_top "<b>Personnel</b>" %>
    <%= label_top "<b>Certification Number</b>" %>
    <%= label_top "<b>Role</b>" %>
    <%= label_top "<b>Certification Level</b>" %>
  </tr>
  <% @parser.parse_cluster('E04').each do |e04| %>
      <%= start_row %>
        <%= cell ("#{e04.E04_05} #{e04.E04_04}") %>
        <%= cell (e04.E04_01) %>
        <%= cell (e04.E04_02) %>
        <%= cell (e04.E04_03) %>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E07') %>
<%= title = "Insurance Details"
    start_table title, 8 %>
  <tbody>
  <!--Name, Primary Payer -->
  <%= row( {'Insured\'s Name' => "concat('E07_11', 'E07_12', 'E07_13')"}, 'E07_01') %>
  <!--Relationship to Patient, Response Urgency-->
  <%= row 'E07_14', 'E07_33' %>
  <!--Employer, Primary Ins-->
  <%= row 'E07_27', 'E07_03' %>
  <!--Work Phone, Policy #-->
  <%= row 'E07_32', 'E07_10' %>
  <!--Job Related?, Group #-->
  <%= row 'E07_15', 'E07_09' %>
  </tbody>
</table>
<br>
<% end %>

<% if @parser.has_content('E02') %>
<%= start_table %>
  <tbody>
  <%= start_row %>
    <%= heading "Mileage" %>
    <%= labeled_cell "Scene", @parser.E02_17 %>
    <%= labeled_cell "Destination", @parser.E02_18 %>
    <%= labeled_cell "Loaded Miles", (@parser.E02_18.to_f - @parser.E02_17.to_f).round(1) %>
    <%= labeled_cell "Start", @parser.E02_16 %>
    <%= labeled_cell "End", @parser.E02_19 %>
    <%= labeled_cell "Total Miles", (@parser.E02_19.to_f - @parser.E02_16.to_f).round(1) %>
  </tr>
  </tbody>
</table>
<br>
<% end %>

<% additional_agencies = @parser.E08_17
   unless additional_agencies.empty?
%>
    <%= start_table %>
      <tbody>
      <%= start_row %>
        <%= heading "Additional Agencies" %>
        <%= cell (additional_agencies) %>
      </tr>
      </tbody>
    </table>
    <br>
<% end %>
<% delays = list_of_delays
   unless delays.empty?
%>
    <%= start_table "Delays", 2 %>
      <tbody>
      <%= list delays %>
      </tbody>
    </table>
    <br>
<% end %>

<% next_of_kin_names   = @parser.concat_with_comma('E07_18', 'E07_19', 'E07_20') %>
<% next_of_kin_address = @parser.concat_with_comma('E07_21', 'E07_22', 'E07_23') %>
<% if !next_of_kin_names.empty? || !next_of_kin_address.empty? %>
  <%= start_table "Next of Kin", 6 %>
    <tbody>
    <%= start_row %>
      <%= labeled_cell_narrow "Next of Kin Name", next_of_kin_names %>
      <%= labeled_cell_narrow "Address1", @parser.E07_21 %>
      <%= labeled_cell_narrow "City", @parser.parse_city('E07_22') %>
    </tr>
    <%= start_row %>
      <%= labeled_cell_narrow "Relationship to Patient", @parser.E07_26 %>
      <%= labeled_cell_narrow "Address2", nil %>
      <%= labeled_cell_narrow "State", @parser.parse_state('E07_23') %>
    </tr>
    <%= start_row %>
      <%= labeled_cell_narrow "Phone", @parser.E07_25 %>
      <%= labeled_cell_narrow "Address3", nil %>
      <%= labeled_cell_narrow "Zip", @parser.E07_24 %>
    </tr>
    </tbody>
  </table>
  <br>
<% end %>

<% if @parser.has_content('E35_01') %>
  <%= start_table "Personal Items", 3 %>
    <tbody>
    <%=  heading_row('E35_02', 'E35_03', 'E35_04') %>
    <% @parser.parse_cluster('E35_01_0').each do |e35| %>
      <%=  row_from_values(e35.E35_02, e35.E35_03, e35.E35_04) %>
    <% end %>
    </tbody>
  </table>
  <br>
<% end %>

<% if false && @parser.has_content('E20_16','E12_02', 'E07_34', 'E07_35', 'E07_36', 'E07_37', 'E07_02')   %>
    <%= start_table "Transfer Details", 4 %>
    <!--PAN, Sending Phys.-->
    <%=  row({"PAN" => '&nbsp;'}, {"Sending Physician" => '&nbsp;'})  %>
    <!--PCS, Sending Record #-->
    <%=  row({"PCS" => '&nbsp;'}, 'E12_02')  %>
    <!--ABN, Receiving Phys-->
    <%=  row({"ABN" => '&nbsp;'}, {"Receiving Physician" => '&nbsp;'})  %>
    <!--CMS Level Service, Condition Code-->
    <%=  row('E07_34', 'E07_35')  %>
    <!--ICD-9 Code, Condition Modifier Code-->
    <%=  row('E07_36', 'E07_37')  %>
    <!--Transfer Reason-->
    <%=  row('E20_16',3)  %>
    <!--Other/Services-->
    <%=  row({"Other/Services" => '&nbsp;'}, 3)  %>
    <!--Medical Necessity-->
    <%=  row('E07_02', 3)  %>
</table>
<br>
<% end %>

<p>Generated at: <%= "#{runsheet_timestamp}" %> <small>Version <%= "#{Nemsis::VERSION}" %></small></p>
