<HEAD>
  <STYLE type="text/css">
      <!--

          /*p, h4, table {font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;}*/
          /*p, h4, table {font-family: Tahoma, Geneva, sans-serif}*/
      p, h4, table {
          font-family: "Trebuchet MS", Helvetica, sans-serif
      }

      p {
          font-size: small;
      }

      H4 {
          color: black
      }

          /* Each section can be a table */
      table, tbody, tr {
          border: 2px;
          border-style: solid;
          border-color: black;
          border-spacing: 0px;
          width: 700;
          color: black;
          margin: 0;
          padding: 1px;
      }

          /* The section can have a bold heading row */
      th {
          color: yellow;
          background-color: #6495ed;
          font-size: medium;
          border-color: black;
          border-style: solid;
          border-width: 1px;
      }

          /* Default table cell for values */
      td {
          border: 1px;
          border-style: groove;
          border-color: black;
          font-size: small;
          padding: 2px;
      }

          /* Default label cell */
      td.label {
          text-align: left;
          font-weight: bold;
          background-color: #dcdcdc;
      }

          /* Label on top of column */
      td.label-top {
          text-align: center;
          font-weight: bold;
          background-color: #dcdcdc;
      }

          /* Narrow label cell */
      td.label-narrow {
          text-align: left;
          font-weight: bold;
          background-color: #dcdcdc;
          width: 10%;
      }

          /* Medium label cell */
      td.label-medium {
          text-align: left;
          font-weight: bold;
          background-color: #dcdcdc;
          width: 25%;
      }

      -->
  </STYLE>
</HEAD>

<h4>Wake County EMS System - Patient Care Record</h4>
<p>
  <b>Date:</b> 9/25/2011<br>
  <b>Incident #:</b>123456<br>
  <br>
</p>
<table>
  <thead>
  <tr>
    <th colspan="14">Patient Information</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label">Last</td>
    <td><%= @parser.E06_01 %></td>
    <td class="label">First</td>
    <td><%= @parser.E06_02 %></td>
    <td class="label">Middle</td>
    <td><%= @parser.E06_03 %></td>
    <td class="label">DOB</td>
    <td><%= @parser.E06_16 %></td>
    <td class="label">Gender</td>
    <td><%= @parser.E06_11 %></td>
    <td class="label">Weight</td>
    <td><%= @parser.E16_01 %> kg</td>
    <td class="label">SSN</td>
    <td><%= @parser.E06_10 %></td>
  </tr>
  <tr>
    <td class="label">Address</td>
    <td><%= @parser.E06_04 %></td>
    <td class="label">Address 2</td>
    <td>E23_09 fieldname to be determined</td>
    <td class="label">City</td>
    <td><%= @parser.E06_05 %></td>
    <td class="label">State</td>
    <td><%= @parser.parse_state('E06_07') %></td>
    <td class="label">Zip</td>
    <td><%= @parser.E06_08 %></td>
    <td class="label">Country</td>
    <td><%= @parser.E06_09 %></td>
    <td class="label">Tel</td>
    <td><%= @parser.E06_17 %></td>
  </tr>
  <tr>
    <td class="label">Advanced Directive</td>
    <td colspan="13"><%= @parser.E12_07 %></td>
  </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
  <tr>
    <th colspan="8">Clinical Impression</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label">Primary Impression</td>
    <td><%= @parser.E09_15 %></td>
    <td class="label">Chief Complaint</td>
    <td><%= @parser.E09_05 %></td>
    <td class="label">Injury</td>
    <td><%= @parser.concat 'E10_01', 'E10_02', 'E10_03' %></td>
    <td class="label">Barriers of Care</td>
    <td><%= @parser.E12_01 %></td>
  </tr>
  <tr>
    <td class="label">Secondary Impression</td>
    <td><%= @parser.E09_16 %></td>
    <td class="label">Duration</td>
    <td><%= @parser.concat 'E09_06', 'E09_07' %></td>
    <td class="label">Medical/ Trauma</td>
    <td><%= @parser.parse_value_of('MedicalTrauma') %></td>
    <td class="label">Alcohol/ Drugs</td>
    <td><%= @parser.E12_19 %></td>
  </tr>
  <tr>
    <td class="label">Signs &amp; Symptoms</td>
    <td colspan="7"><%= @parser.concat 'E09_13', 'E09_14' %></td>
  </tr>
  </tbody>
</table>
<br>
<table>
<thead>
<tr>
  <th colspan="16">Medication/Allergies/History</th>
</tr>
</thead>
<tbody>
<tr>
  <td class="label">Medications</td>
  <td colspan="15"><%= @parser.concat 'E12_14', 'E12_15', 'E12_16' %></td>
</tr>
<tr>
  <td class="label">Allergies</td>
  <td colspan="15"><%= @parser.concat 'E12_08', 'E12_09' %></td>
</tr>
<tr>
  <td class="label">History</td>
  <td colspan="15"><%= @parser.E12_10 %></td>
</tr>

<tr>
  <th colspan="16">Vital Signs</th>
</tr>
<tr>
  <td class="label-top">Time</td>
  <td class="label-top">AVPU</td>
  <td class="label-top">Side</td>
  <td class="label-top">POS</td>
  <td class="label-top">BP</td>

  <td class="label-top">Pulse</td>
  <td class="label-top">RR</td>
  <td class="label-top">SPO2</td>
  <td class="label-top">ETCO2</td>
  <td class="label-top">CO</td>

  <td class="label-top">BG</td>
  <td class="label-top">Temp</td>
  <td class="label-top">Pain</td>
  <td class="label-top">GCS</td>
  <td class="label-top">RTS</td>

  <td class="label-top"><b>PTS</b></td>
</tr>

<% @parser.parse_cluster('E14').sort_by { |e14| Time.parse(e14.E14_01) rescue Time.now }.each do |e14| %>
    <tr>
      <td><%= e14.parse_time('E14_01') %></td>
      <td><%= e14.E14_22 %></td>
      <td><%= e14.E14_29 %></td>
      <td><%= e14.E14_30 %></td>
      <td><%= e14.concat 'E14_04', 'E14_05', 'E14_06' %></td>

      <td><%= [(e14.E14_07 || e14.E14_08), e14.E14_10].compact.join(' ') %></td>
      <td><%= e14.concat 'E14_11', 'E14_12' %></td>
      <td><%= e14.E14_09 %></td>
      <td><%= e14.E14_13 %></td>
      <td><%= e14.E14_31 %></td>

      <td><%= e14.E14_14 %></td>
      <td><%= e14.concat 'E14_20', 'E14_21' %></td>
      <td><%= e14.E14_23 %></td>
      <td><%= e14.E14_19 %></td>
      <td><%= e14.E14_27 %></td>

      <td><%= e14.E14_28 %></td>

    </tr>
<% end %>

<thead>
<tr>
  <th colspan="16">ECG</th>
</tr>
</thead>
<tr>
  <td class="label" colspan="1">Time</td>
  <td class="label" colspan="7">3-Lead ECG</td>
  <td class="label" colspan="8">12-Lead ECG</td>
</tr>

<% @parser.parse_cluster('E14').sort_by { |e14| Time.parse(e14.E14_01) rescue Time.now }.each do |e14| %>
    <tr>
      <td colspan="1"><%= e14.parse_time('E14_01') %></td>
      <td colspan="7"><%= e14.E14_03 %></td>
      <td colspan="8"><%= e14.E14_33 %></td>
    </tr>
<% end %>

<thead>
<tr>
  <th colspan="16">Flow Chart</th>
</tr>
</thead>
<tr>
  <td class="label">Time</td>
  <td class="label" colspan="2">Treatment</td>
  <td class="label" colspan="11">Description</td>
  <td class="label" colspan="2">Provider</td>
</tr>

<% @parser.parse_clusters('E18', 'E19').sort_by { |c| Time.parse(c.sub_element('01')) rescue Time.now }.each do |cluster| %>
    <tr>
      <td><%= Time.parse(cluster.sub_element('01')).strftime('%Y-%m-%d %H:%M') rescue nil %></td>
      <td colspan="2"><%= cluster.sub_element('03') %></td>
      <td colspan="11">
        <p>
          <% if cluster.root_element_name == 'E18' %>
              <%= cluster.concat 'E18_05', 'E18_06' %>;
              <%= cluster.E18_07 %>;
              <%= cluster.E18_08 %>;
          <% elsif cluster.root_element_name == 'E19' %>
          <% end %>
        </p>
      </td>
      <td colspan="2">E18_09 or E19_09 to be mapped to name</td>
    </tr>
<% end %>

<thead>
<tr>
  <th colspan="16">Initial Assessment</th>
</tr>
</thead>
<% @parser.parse_assessments.each do |assessment| %>
    <tr>
      <td class="label" colspan="2">Category</td>
      <td class="label" colspan="6">Comments</td>
      <td class="label" colspan="2">Abnormalities</td>
      <td class="label" colspan="6">&nbsp;</td>
    </tr>
    <tr>
      <td class="label" colspan="2">Mental Status</td>
      <td colspan="6"><%= assessment.E16_25 %></td>
      <td class="label" colspan="2">Mental Status</td>
      <td colspan="6"><%= assessment.E16_23 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Skin</td>
      <td colspan="6"><%= assessment.E16_26 %></td>
      <td class="label" colspan="2">Skin</td>
      <td colspan="6"><%= assessment.concat('E16_04', 'E15_01') %></td>
    </tr>
    <tr>
      <td class="label" colspan="2" rowspan="3">HEENT</td>
      <td colspan="6" rowspan="3"><%= assessment.E16_27 %></td>
      <td class="label" colspan="2">Head/Face</td>
      <td colspan="6"><%= assessment.concat('E16_05', 'E15_02', 'E15_03') %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Eyes</td>
      <td colspan="6"><%= assessment.concat('E16_21', 'E16_22') %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Neck</td>
      <td colspan="6"><%= assessment.E16_06 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2" rowspan="3">Chest</td>
      <td colspan="6" rowspan="3"><%= assessment.E16_28 %></td>
      <td class="label" colspan="2">Chest</td>
      <td colspan="6"><%= assessment.E15_05 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Heart Sounds</td>
      <td colspan="6"><%= assessment.E16_08 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Lung Sounds</td>
      <td colspan="6"><%= assessment.E16_07 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2" rowspan="5">Abdomen</td>
      <td colspan="6" rowspan="5"><%= assessment.E16_29 %></td>
      <td class="label" colspan="2">General</td>
      <td colspan="6"><%= assessment.concat('E16_13', 'E15_06') %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Left Upper</td>
      <td colspan="6"><%= assessment.E16_09 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Right Upper</td>
      <td colspan="6"><%= assessment.E16_11 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Left Lower</td>
      <td colspan="6"><%= assessment.E16_10 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Right Lower</td>
      <td colspan="6"><%= assessment.E16_12 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2" rowspan="3">Back</td>
      <td colspan="6" rowspan="3"><%= assessment.E16_30 %></td>
      <td class="label" colspan="2">Cervical</td>
      <td colspan="6"><%= assessment.E16_14 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Thoracic</td>
      <td colspan="6"><%= assessment.E15_07 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Lumbar/Sacral</td>
      <td colspan="6"><%= assessment.E16_16 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Pelvis/GU/GI</td>
      <td colspan="6"><%= assessment.E16_31 %></td>
      <td class="label" colspan="2">Pelvis/GU/GI</td>
      <td colspan="6"><%= assessment.concat('E16_13', 'E15_09') %></td>
    </tr>
    <tr>
      <td class="label" colspan="2" rowspan="6">Extremities</td>
      <td colspan="6" rowspan="6"><%= assessment.E16_32 %></td>
      <td class="label" colspan="2">Left Arm</td>
      <td colspan="6"><%= assessment.E16_19 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Right Arm</td>
      <td colspan="6"><%= assessment.E16_17 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Left Leg</td>
      <td colspan="6"><%= assessment.E16_20 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Right Leg</td>
      <td colspan="6"><%= assessment.E16_18 %></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Pulse</td>
      <td colspan="6"></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Capillary Refill</td>
      <td colspan="6"></td>
    </tr>
    <tr>
      <td class="label" colspan="2">Neurological</td>
      <td colspan="6"><%= assessment.E16_33 %></td>
      <td class="label" colspan="2">Neurological</td>
      <td colspan="6"><%= assessment.E16_24 %></td>
    </tr>
    </tbody>
    </table><br>
    <b>Assessment Time:</b><%= assessment.parse_time('E16_03') %>
    <br>
<% end %>
<br>

<table>
  <thead>
  <tr>
    <th>Narrative</th>
  </tr>
  <tr>
    <td><%= @parser.E13_01 %></td>
  </tr>
  </thead>
</table>
<br>
<table>
  <thead>
  <tr>
    <th class="label" colspan="2">Incident Details</th>
    <th class="label" colspan="2">Destination Details</th>
    <th class="label" colspan="2">Incident Times</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label">Location</td>
    <td><%= @parser.E08_07 %></td>
    <td class="label">Disposition</td>
    <td><%= @parser.concat('E20_10', 'E20_14') %></td>
    <td class="label">Call Received</td>
    <td><%= @parser.parse_time('E05_01') %></td>
  </tr>
  <tr>
    <td class="label">Address</td>
    <td><%= @parser.E08_11 %></td>
    <td class="label">Transport Due To</td>
    <td><%= @parser.E20_16 %></td>
    <td class="label">Dispatched</td>
    <td><%= @parser.parse_time('E05_04') %></td>
  </tr>
  <tr>
    <td class="label">Address 2</td>
    <td><%= @parser.parse_value_of('IncidentAddress2') %></td>
    <td class="label">Transported To</td>
    <td><%= @parser.E20_01 %></td>
    <td class="label">En Route</td>
    <td><%= @parser.parse_time('E05_05') %></td>
  </tr>
  <tr>
    <td class="label">City</td>
    <td><%= @parser.E08_12 %></td>
    <td class="label">Requested By</td>
    <td><%= @parser.parse_value_of('Requested By') %></td>
    <td class="label">Resp on Scene</td>
    <td><%= @parser.parse_time('E05_06') %></td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td><%= @parser.parse_state('E08_14') %></td>
    <td class="label">Destination</td>
    <td><%= @parser.E20_17 %></td>
    <td class="label">On Scene</td>
    <td></td>
  </tr>
  <tr>
    <td class="label">Zip</td>
    <td><%= @parser.E08_15 %></td>
    <td class="label">Address</td>
    <td><%= @parser.E20_03 %></td>
    <td class="label">At Patient</td>
    <td><%= @parser.parse_time('E05_07') %></td>
  </tr>
  <tr>
    <td class="label">Medic Unit</td>
    <td><%= @parser.E02_03 %></td>
    <td class="label">Address 2</td>
    <td><%= @parser.parse_value_of('DestinationAddress2') %></td>
    <td class="label">Depart Scene</td>
    <td><%= @parser.parse_time('E05_09') %></td>
  </tr>
  <tr>
    <td class="label">Run Type</td>
    <td><%= @parser.E02_04 %></td>
    <td class="label">City</td>
    <td><%= @parser.E20_04 %></td>
    <td class="label">At Destination</td>
    <td><%= @parser.parse_time('E05_10') %></td>
  </tr>
  <tr>
    <td class="label">Priority Scene</td>
    <td><%= @parser.E02_20 %></td>
    <td class="label">State</td>
    <td><%= @parser.E20_05 %></td>
    <td class="label">Pt. Transferred</td>
    <td><%= @parser.parse_time('E05_08') %></td>
  </tr>
  <tr>
    <td class="label">Shift</td>
    <td><%= @parser.parse_value_of('Shift') %></td>
    <td class="label">Zip</td>
    <td><%= @parser.E20_07 %></td>
    <td class="label">Incident Close</td>
    <td><%= @parser.parse_time('E05_11') %></td>
  </tr>
  <tr>
    <td class="label">Zone</td>
    <td>&nbsp;</td>
    <td class="label">Zone</td>
    <td><%= @parser.E20_09 %></td>
    <td class="label">In District</td>
    <td><%= @parser.parse_time('E05_13') %></td>
  </tr>
  <tr>
    <td class="label">Level of Service</td>
    <td><%= @parser.parse_value_of('Level of Service') %></td>
    <td class="label">Condition at Destination</td>
    <td colspan="3"><%= @parser.E20_15 %></td>
  </tr>
  <tr>
    <td class="label">Destination Record #</td>
    <td colspan="5"><%= @parser.E12_03 %></td>
  </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
  <tr>
    <th colspan="4">Crew Members</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label-top"><b>Personnel</b></td>
    <td class="label-top"><b>Certification Number</b></td>
    <td class="label-top"><b>Role</b></td>
    <td class="label-top"><b>Certification Level</b></td>
  </tr>
  <% @parser.parse_cluster('E04').each do |e04| %>
      <tr>
        <td></td>
        <td><%= e04.E04_01 %></td>
        <td><%= e04.E04_02 %></td>
        <td><%= e04.E04_03 %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<table>
  <thead>
  <tr>
    <th colspan="8">Insurance Details</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label">Insured's Name</td>
    <td><%= @parser.concat 'E07_11', 'E07_12', 'E07_13' %></td>
    <td class="label">State</td>
    <td>NC</td>
    <td class="label">Medicare</td>
    <td>&nbsp;</td>
    <td class="label">Secondary Ins</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label">Relationship to Patient</td>
    <td><%= @parser.E07_14 %></td>
    <td class="label">Zip</td>
    <td>&nbsp;</td>
    <td class="label">Medicaid</td>
    <td>&nbsp;</td>
    <td class="label">Policy #</td>
    <td></td>
  </tr>
  <tr>
    <td class="label">Address 1</td>
    <td>&nbsp;</td>
    <td class="label">Country</td>
    <td>&nbsp;</td>
    <td class="label">Primary Insurance</td>
    <td><%= @parser.E07_03 %></td>
    <td class="label">Group #</td>
    <td></td>
  </tr>
  <tr>
    <td class="label">Address 2</td>
    <td>&nbsp;</td>
    <td class="label">Phone</td>
    <td>&nbsp;</td>
    <td class="label">Group #</td>
    <td><%= @parser.E07_09 %></td>
    <td class="label">Contact</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label">Address 3</td>
    <td>&nbsp;</td>
    <td class="label">Primary Payer</td>
    <td><%= @parser.E07_01 %></td>
    <td class="label">Policy #</td>
    <td><%= @parser.E07_10 %></td>
    <td class="label">Dispatch Nature</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label">City</td>
    <td>Raleigh</td>
    <td class="label">Employer</td>
    <td><%= @parser.E07_27 %></td>
    <td class="label">Job Related Injury</td>
    <td><%= @parser.E07_15 %></td>
    <td class="label">Response Urgency</td>
    <td>&nbsp;</td>
  </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
  <tr>
    <th colspan="4">Mileage</th>
    <th colspan="2">Delays</th>
    <th colspan="2">Additional Agencies</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label">Scene</td>
    <td><%= @parser.E02_17 %></td>
    <td class="label">Start</td>
    <td><%= @parser.E02_16 %></td>
    <td class="label">Category</td>
    <td class="label">Delays</td>
    <td colspan="2"><%= @parser.concat 'E08_01', 'E08_02' %></td>
  </tr>
  <tr>
    <td class="label">Destination</td>
    <td><%= @parser.E02_18 %></td>
    <td class="label">End</td>
    <td><%= @parser.E02_19 %></td>
    <td class="label">Dispatch Delays</td>
    <td><%= @parser.E02_06 %></td>
  </tr>
  <tr>
    <td class="label">Loaded Miles</td>
    <td><%= @parser.E02_18.to_i - @parser.E02_17.to_i %></td>
    <td class="label">Total Miles</td>
    <td><%= @parser.E02_19.to_i - @parser.E02_16.to_i %></td>
  </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
  <tr>
    <th colspan="6">Next of Kin</th>
    <th colspan="3">Personal Items</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label">Next of Kin Name</td>
    <td><%= @parser.concat 'E07_18', 'E07_19', 'E07_20' %></td>
    <td class="label">Address 1</td>
    <td><%= @parser.E07_21 %></td>
    <td class="label">City</td>
    <td><%= @parser.E07_22 %></td>
    <td class="label">Item</td>
    <td class="label">Given To</td>
    <td class="label">Comment</td>
  </tr>
  <tr>
    <td class="label">Relationship to Patient</td>
    <td><%= @parser.E07_26 %></td>
    <td class="label">Address 2</td>
    <td>&nbsp;</td>
    <td class="label">State</td>
    <td>&nbsp;</td>
    <td>Clothing</td>
    <td>Spouse</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label">Phone</td>
    <td><%= @parser.E07_25 %></td>
    <td class="label">Address 3</td>
    <td>&nbsp;</td>
    <td class="label">Zip</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td class="label">Country</td>
    <td>&nbsp;</td>
  </tr>
  </tbody>
</table>
<br>
<table>
  <thead>
  <tr>
    <th colspan="4">Transfer Details</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="label-medium">PAN</td>
    <td>&nbsp;</td>
    <td class="label-medium">Sending Physician</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label-medium">PCS</td>
    <td>&nbsp;</td>
    <td class="label-medium">Sending Record #</td>
    <td><%= @parser.E12_02 %></td>
  </tr>
  <tr>
    <td class="label-medium">ABN</td>
    <td>&nbsp;</td>
    <td class="label-medium">Receiving Physician</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label-medium">CMS Service Level</td>
    <td>&nbsp;</td>
    <td class="label-medium">Condition Code</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label-medium">ICD-9 Code</td>
    <td>&nbsp;</td>
    <td class="label-medium">Condition Modifier Code</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="label-medium">Transfer Reason</td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td class="label-medium">Other/Services</td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td class="label-medium">Medical Necessity</td>
    <td colspan="3">&nbsp;</td>
  </tr>
  </tbody>
</table>
<br>

<div id="SpecialtyPatient">

  <div id="SpecialtyPatientACS">
    <table>
      <thead>
      <tr>
        <th colspan="6">Specialty Patient - ACS</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="2">&nbsp;</td>
        <td class="label" colspan="4">12-Lead Transmission:</td>
      </tr>
      <tr>
        <td class="label" width="20%">12 Lead</td>
        <td></td>
        <td colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td class="label-narrow">Lead I:</td>
        <td></td>
        <td class="label-narrow">V1:</td>
        <td></td>
        <td class="label-narrow">V4R:</td>
        <td></td>
      </tr>
      <tr>
        <td class="label-narrow">Lead II:</td>
        <td></td>
        <td class="label-narrow">V2:</td>
        <td></td>
        <td class="label-narrow">V5R:</td>
        <td></td>
      </tr>
      <tr>
        <td class="label-narrow">Lead III:</td>
        <td></td>
        <td class="label-narrow">V3:</td>
        <td></td>
        <td class="label-narrow">V6R:</td>
        <td></td>
      </tr>
      <tr>
        <td class="label-narrow">AVL:</td>
        <td></td>
        <td class="label-narrow">V4:</td>
        <td></td>
        <td class="label-narrow">V7:</td>
        <td></td>
      </tr>
      <tr>
        <td class="label-narrow">AVR:</td>
        <td></td>
        <td class="label-narrow">V5:</td>
        <td></td>
        <td class="label-narrow">V8:</td>
        <td></td>
      </tr>
      <tr>
        <td class="label-narrow">AVF:</td>
        <td></td>
        <td class="label-narrow">V6:</td>
        <td></td>
        <td class="label-narrow">V9:</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="label-narrow">OPQRST:</td>
        <td class="label" colspan="2">Inclusion Criteria</td>
        <td class="label" colspan="2">Exclusion Criteria:</td>
      </tr>
      <tr>
        <td class="label-narrow">Onset:</td>
        <td></td>
        <td colspan="2">>= 18 years of age</td>
        <td colspan="2">History of Stroke</td>
      </tr>
      <tr>
        <td class="label-narrow">Provoke:</td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td class="label-narrow">Quality:</td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td class="label-narrow">Radiation:</td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td class="label-narrow">Severity:</td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td class="label-narrow">Time:</td>
        <td></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="SpecialtyPatientAirway">
    <table>
      <thead>
      <tr>
        <th colspan="4">Specialty Patient&mdash;Advanced Airway</th>
      </tr>
      <tr>
        <td class="label">Mallampati Class</td>
        <td><%=  @parser.E25_01 %></td>
        <td class="label">Airway Grading</td>
        <td><%=  @parser.E25_02 %></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="label">Indications</td>
        <td class="label">Monitoring</td>
        <td class="label">Rescue</td>
        <td class="label">Reasons Failed Intubation</td>
      </tr>
      <tr>
        <td><%= @parser.E25_03.join(', ') %></td>
        <td><%= @parser.E25_04.join(', ') %></td>
        <td><%= @parser.E25_05.join(', ') %></td>
        <td><%= @parser.E25_06.join(', ') %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>

  <div id="SpecialtyPatientBurns">
  </div>
  <br>

  <div id="SpecialtyPatientStroke">
  </div>
  <br>

  <div id="SpecialtyPatientCPR">
  </div>
  <br>

  <div id="SpecialtyPatientMVC">
  </div>
  <br>

  <div id="SpecialtyPatientTrauma">
    <table>
      <thead>
      <tr>
        <th colspan="4">Specialty Patient&mdash;Trauma Criteria</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="label">Anatomic</td>
        <td><%= @parser.E24_08 %></td>
        <td class="label">Trauma Activation</td>
        <td><%= @parser.E24_01 %></td>
      </tr>
      <tr>
        <td class="label">Physiologic</td>
        <td><%= @parser.E24_06 %></td>
        <td class="label">Time</td>
        <td><%= @parser.E24_02 %></td>
      </tr>
      <tr>
        <td class="label">Mechanical</td>
        <td><%= @parser.E24_07 %></td>
        <td class="label">Date</td>
        <td><%= @parser.E24_02 %></td>
      </tr>
      <tr>
        <td class="label">Other Conditions</td>
        <td><%= @parser.E24_05 %></td>
        <td class="label">Trauma Level</td>
        <td><%= @parser.E24_04 %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="label">Reason not Activated</td>
        <td><%= @parser.E24_03 %></td>
      </tr>
      </tbody>
    </table>
    <br>
  </div>
  <div id="SpecialtyPatientObstetrical">
  </div>
  <br>

  <div id="SpecialtyPatientSpinal">
  </div>
  <br>

  <div id="SpecialtyPatientInfluenza">
  </div>
  <br>

  <div id="SpecialtyPatientSAD">
  </div>
  <br>

</div>
